playbook-Endpoint_Malware_Investigation_-_Generic.yml
description: |-
  This playbook is triggered by a malware incident from an 'Endpoint' type integration. The playbook performs enrichment, detonation, and hunting within the organization, and remediation on the malware.
  Used sub-playbooks:
  - Endpoint Enrichment - Generic v2.1
  - Retrieve File from Endpoint - Generic
  - Detonate File - Generic
  - File Enrichment - Generic v2
  - Calculate Severity - Generic v2
  - Isolate Endpoint - Generic
  - Block Indicators - Generic v2
id: Endpoint Malware Investigation - Generic
inputs:
- description: |-
    This input determines the threshold severity from which to perform auto-isolation for the infected endpoint.
    Specify the severity number (default is High):
    Specify the severity number:
    0 - Unknown
    0.5 - Informational
    1 - Low
    2 - Medium
    3 - High
    4 - Critical
  key: AutoIsolation
  required: false
  value:
    simple: "3"
- description: The Email address to notify if there is a possibility of the malware
    spreading and infecting other endpoints.
  key: Email
  required: false
  value: {}
- description: File MD5.
  key: MD5
  required: false
  value:
    complex:
      accessor: md5string
      root: incident
- description: File SHA256.
  key: SHA256
  required: false
  value:
    complex:
      accessor: sha256
      root: incident
- description: Hostname of the machine on which the file is located.
  key: Hostname
  required: false
  value:
    complex:
      accessor: Hostname
      root: Endpoint
- description: File path.
  key: FilePath
  required: false
  value:
    complex:
      accessor: Path
      root: File
- description: Specifies whether to use D2 agent to retrieve the file.
  key: UseD2
  required: false
  value:
    simple: "no"
- description: File SHA1.
  key: SHA1
  required: false
  value:
    complex:
      accessor: sha1
      root: incident
name: Endpoint Malware Investigation - Generic
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 485b00ff-6655-4a20-8fd6-f40ce5b43d80
      iscommand: false
      name: ""
      version: -1
    taskid: 485b00ff-6655-4a20-8fd6-f40ce5b43d80
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 500,
          "y": 70
        }
      }
  "5":
    id: "5"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "62"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: f8f052e5-1335-4cf0-8ad1-24fb809b3d63
      iscommand: false
      name: Detonation
      type: title
      version: -1
    taskid: f8f052e5-1335-4cf0-8ad1-24fb809b3d63
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 750,
          "y": 385
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: a92117d3-1ccf-4dc8-833a-01ac2d172cad
      iscommand: false
      name: File enrichment
      type: title
      version: -1
    taskid: a92117d3-1ccf-4dc8-833a-01ac2d172cad
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 260,
          "y": 385
        }
      }
  "12":
    id: "12"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 89dabb98-4cdf-4ea6-87e4-cf5e4c935911
      iscommand: false
      name: Hunting
      type: title
      version: -1
    taskid: 89dabb98-4cdf-4ea6-87e4-cf5e4c935911
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 220,
          "y": 2385
        }
      }
  "15":
    id: "15"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 8bc813e6-4731-4348-8a93-9ab9de5b28f1
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: 8bc813e6-4731-4348-8a93-9ab9de5b28f1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 220,
          "y": 3515
        }
      }
  "19":
    id: "19"
    ignoreworker: false
    nexttasks:
      "No":
      - "41"
      "Yes":
      - "65"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: e85c9761-257f-4461-88f7-c094e476abd7
      iscommand: false
      name: Manual - Get analyst approval for auto-remediation
      type: condition
      version: -1
    taskid: e85c9761-257f-4461-88f7-c094e476abd7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 220,
          "y": 3650
        }
      }
  "20":
    id: "20"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 7d6c7837-c713-4066-839c-4766a2c9f299
      iscommand: false
      name: Analyst review of the investigation
      type: regular
      version: -1
    taskid: 7d6c7837-c713-4066-839c-4766a2c9f299
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 220,
          "y": 3990
        }
      }
  "21":
    id: "21"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "59"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Unisolate endpoints that were isolated during the investigation
        after remediation.
      id: 06bf2b3b-4c90-433f-85c1-576ae9279ade
      iscommand: false
      name: Manual - Unisolate endpoints
      type: regular
      version: -1
    taskid: 06bf2b3b-4c90-433f-85c1-576ae9279ade
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 220,
          "y": 4330
        }
      }
  "26":
    id: "26"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "5"
      - "6"
    note: false
    separatecontext: true
    task:
      brand: ""
      id: 7352a626-e4dc-4d5a-8a79-2bb7af03c95e
      iscommand: false
      name: Endpoint Enrichment - Generic v2.1
      playbookId: Endpoint Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: 7352a626-e4dc-4d5a-8a79-2bb7af03c95e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 500,
          "y": 210
        }
      }
  "27":
    id: "27"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "52"
    note: false
    scriptarguments:
      MD5:
        complex:
          root: inputs.MD5
          transformers:
          - operator: uniq
      SHA1:
        complex:
          root: inputs.SHA1
          transformers:
          - operator: uniq
      SHA256:
        complex:
          root: inputs.SHA256
          transformers:
          - operator: uniq
    separatecontext: true
    task:
      brand: ""
      id: 2f313453-70b6-4d5a-8d5c-0c6f78379848
      iscommand: false
      name: File Enrichment - Generic v2
      playbookId: File Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 2f313453-70b6-4d5a-8d5c-0c6f78379848
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 260,
          "y": 1040
        }
      }
  "28":
    id: "28"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    separatecontext: true
    task:
      brand: ""
      id: 7ee18890-38d2-4bd4-82b9-2c29a4dff0c2
      iscommand: false
      name: Detonate File - Generic
      playbookId: Detonate File - Generic
      type: playbook
      version: -1
    taskid: 7ee18890-38d2-4bd4-82b9-2c29a4dff0c2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 750,
          "y": 1040
        }
      }
  "31":
    id: "31"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    scriptarguments:
      incidentId:
        complex:
          accessor: id
          root: incident
      name: {}
      type: {}
    separatecontext: false
    task:
      brand: ""
      description: |-
        A script to generate an investigation summary report in an automated way
        Can be used in post-processing flow as well.
      id: f07c10bc-483f-472b-88f4-31833520e949
      iscommand: false
      name: Generate Investigation Summary Report
      script: GenerateInvestigationSummaryReport
      type: regular
      version: -1
    taskid: f07c10bc-483f-472b-88f4-31833520e949
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 220,
          "y": 4160
        }
      }
  "36":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: File
          operator: isExists
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: File
          operator: isExists
      label: "yes"
    id: "36"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "37"
      "yes":
      - "28"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 265ab7e6-4ea1-4851-8cc3-33f6ecd6e50f
      iscommand: false
      name: Was a file retrieved?
      type: condition
      version: -1
    taskid: 265ab7e6-4ea1-4851-8cc3-33f6ecd6e50f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 750,
          "y": 700
        }
      }
  "37":
    id: "37"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 0e2a9053-3524-4d1c-84ae-9740ce6253ca
      iscommand: false
      name: Retrieve file manually
      type: regular
      version: -1
    taskid: 0e2a9053-3524-4d1c-84ae-9740ce6253ca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1010,
          "y": 870
        }
      }
  "38":
    id: "38"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Manually hunt for other infected endpoints.
      id: 563f2a69-ede9-4377-8c1b-670ab7606f67
      iscommand: false
      name: Manual - Hunt for other infected endpoints
      type: regular
      version: -1
    taskid: 563f2a69-ede9-4377-8c1b-670ab7606f67
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 220,
          "y": 2515
        }
      }
  "39":
    id: "39"
    ignoreworker: false
    nexttasks:
      "No":
      - "15"
      "Yes":
      - "56"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 8312dd87-7d5f-4458-8f00-4cd532445ecd
      iscommand: false
      name: Were there any more infected endpoints found?
      type: condition
      version: -1
    taskid: 8312dd87-7d5f-4458-8f00-4cd532445ecd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 220,
          "y": 2680
        }
      }
  "41":
    id: "41"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: a229e915-638d-47c7-8be5-a21cdd4a9028
      iscommand: false
      name: Analyst manual remediation
      type: regular
      version: -1
    taskid: a229e915-638d-47c7-8be5-a21cdd4a9028
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 3820
        }
      }
  "44":
    id: "44"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 932cb41a-9b95-4f2e-8fc9-eecf5d0fecdf
      iscommand: false
      name: Perform manual malware analysis and forensics
      type: regular
      version: -1
    taskid: 932cb41a-9b95-4f2e-8fc9-eecf5d0fecdf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 220,
          "y": 2220
        }
      }
  "45":
    id: "45"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "59"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 21220e7b-dcd9-453c-8760-ec6ad2609160
      iscommand: false
      name: False Positive
      type: title
      version: -1
    taskid: 21220e7b-dcd9-453c-8760-ec6ad2609160
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -300,
          "y": 1720
        }
      }
  "46":
    id: "46"
    ignoreworker: false
    nexttasks:
      "No":
      - "44"
      "Yes":
      - "63"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: d542dd80-062d-4e32-8d87-221cc6793aba
      iscommand: false
      name: Get analyst approval for local containment
      type: condition
      version: -1
    taskid: d542dd80-062d-4e32-8d87-221cc6793aba
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 220,
          "y": 1720
        }
      }
  "50":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.AutoIsolation
                    operator: lessThanOrEqual
                    right:
                      iscontext: true
                      value:
                        simple: incident.severity
                root: inputs.AutoIsolation
          operator: isExists
      label: "yes"
    id: "50"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "51"
      "yes":
      - "63"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 8cef4a7e-9abd-4e7a-8747-950ff1363fdd
      iscommand: false
      name: Auto-Isolation?
      type: condition
      version: -1
    taskid: 8cef4a7e-9abd-4e7a-8747-950ff1363fdd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 500,
          "y": 1380
        }
      }
  "51":
    id: "51"
    ignoreworker: false
    nexttasks:
      Close as False positive:
      - "45"
      Continue:
      - "46"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 927f8b9d-dd0f-4068-865d-15e565b1215c
      iscommand: false
      name: Continue with the investigation or close as false positive?
      type: condition
      version: -1
    taskid: 927f8b9d-dd0f-4068-865d-15e565b1215c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -60,
          "y": 1550
        }
      }
  "52":
    id: "52"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "50"
    note: false
    separatecontext: true
    task:
      brand: ""
      id: f8403bed-32be-4f44-8a46-4fc2d703666d
      iscommand: false
      name: Calculate Severity - Generic v2
      playbookId: Calculate Severity - Generic v2
      type: playbook
      version: -1
    taskid: f8403bed-32be-4f44-8a46-4fc2d703666d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 500,
          "y": 1210
        }
      }
  "55":
    id: "55"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    scriptarguments:
      additionalHeader: {}
      attachCIDs: {}
      attachIDs: {}
      attachNames: {}
      bcc: {}
      body:
        simple: |-
          During an endpoint malware investigation in Demisto, other infected endpoints were found, which can possibly indicate the malware is spreading in your organization and requires your attention.
          To get more information, go to this incident in Demisto: ${incident.id}
      cc: {}
      htmlBody: {}
      replyTo: {}
      subject:
        simple: Potential malware spreading in your organization
      templateParams: {}
      to:
        complex:
          root: inputs.Email
      transientFile: {}
      transientFileCID: {}
      transientFileContent: {}
    separatecontext: false
    task:
      brand: ""
      description: Send an email
      id: fd751354-1d35-44ad-81dd-2ec7ac0b4cdf
      iscommand: true
      name: Notify that more infected endpoints were found
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: fd751354-1d35-44ad-81dd-2ec7ac0b4cdf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 820,
          "y": 3020
        }
      }
  "56":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Email
          operator: isNotEmpty
      label: "yes"
    id: "56"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "66"
      "yes":
      - "55"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 9e5fcae4-8f37-4c3d-8537-ef6823ed747b
      iscommand: false
      name: Notify?
      type: condition
      version: -1
    taskid: 9e5fcae4-8f37-4c3d-8537-ef6823ed747b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 500,
          "y": 2850
        }
      }
  "57":
    id: "57"
    ignoreworker: false
    note: false
    separatecontext: false
    task:
      brand: ""
      id: af45ad3a-c7df-46a6-8b71-eb7c691a9a94
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: af45ad3a-c7df-46a6-8b71-eb7c691a9a94
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -300,
          "y": 4820
        }
      }
  "58":
    id: "58"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "57"
    note: false
    scriptarguments:
      assetid: {}
      closeNotes: {}
      closeReason: {}
      emailclassification: {}
      id:
        complex:
          accessor: id
          root: incident
      mndadone: {}
      phishingconfirmationstatus: {}
      phishingsubtype: {}
    separatecontext: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 0282cd22-6365-4dcb-8426-49a1503ee40c
      iscommand: true
      name: Close Demisto Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 0282cd22-6365-4dcb-8426-49a1503ee40c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -300,
          "y": 4660
        }
      }
  "59":
    id: "59"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "58"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Close the incident in the source product that triggered it.
      id: a82031e5-2b56-4734-815a-4ec30ac09b52
      iscommand: false
      name: Manual - Close incident in the source product
      type: regular
      version: -1
    taskid: a82031e5-2b56-4734-815a-4ec30ac09b52
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -300,
          "y": 4500
        }
      }
  "61":
    id: "61"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    scriptarguments:
      Crowdstrikefamily: {}
      Crowdstrikescore: {}
      account: {}
      accountid: {}
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      agentid: {}
      agentversion: {}
      alertid: {}
      alertrules: {}
      alertstatus: {}
      alerttime: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      awsfindingid: {}
      awsfindingtype: {}
      awsinstanceid: {}
      awsinstancename: {}
      bdcontactemail: {}
      bdcontactname: {}
      blockedaction: {}
      bugtraq: {}
      city: {}
      clicktime: {}
      closeNotes: {}
      closeReason: {}
      cluster: {}
      commandline: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      compliancemetadata: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      currentip: {}
      customFields: {}
      customidstring: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      demoautomatedcondition: {}
      demomanualcondition: {}
      description: {}
      dest: {}
      destntdomain: {}
      details: {}
      detectid: {}
      detectname: {}
      detectorid: {}
      detecttime: {}
      devicename: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailrecipient: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      endpointgrid: {}
      eventtype: {}
      executableswritten: {}
      exposedport: {}
      externalip: {}
      falconhostlink: {}
      filehash: {}
      filename: {}
      filepath: {}
      filesize: {}
      findingid: {}
      firstseen: {}
      groupid: {}
      guid: {}
      hadasanothershorttext: {}
      hadasanothertest: {}
      hostname: {}
      id: {}
      indicatorsofinterest: {}
      infected: {}
      infectedhosts: {}
      internalip: {}
      involvedusers: {}
      ioctype: {}
      iocvalue: {}
      isolated:
        simple: Endpoint was isolated successfully.
      isthedatasubjecttodpia: {}
      labels: {}
      lastmodifiedby: {}
      lastmodifiedon: {}
      lastseen: {}
      licenseexpirydate: {}
      likelyimpact: {}
      localip: {}
      macaddress: {}
      maliciousbehavior: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      malwarescore: {}
      md5string: {}
      measurestomitigate: {}
      messageparts: {}
      messagetime: {}
      mnda: {}
      mndadone: {}
      myhtml: {}
      mymultiselect: {}
      myrequiredtext: {}
      name: {}
      nextsteps: {}
      notes: {}
      objective: {}
      occurred: {}
      offset: {}
      operator: {}
      osname: {}
      ostype: {}
      osversion: {}
      owner: {}
      parantprocessname: {}
      parentprocessid: {}
      parentprocessname: {}
      partnercontacts: {}
      partnerproduct: {}
      patterndispositiondescription: {}
      patterndispositionflags: {}
      patterndispositionvalue: {}
      phase: {}
      phishingconfirmationstatus: {}
      phishingsubtype: {}
      phishscore: {}
      pid: {}
      platform: {}
      policydeleted: {}
      policydescription: {}
      policydetails: {}
      policyid: {}
      policyname: {}
      policyrecommendation: {}
      policyremediable: {}
      policyroutes: {}
      policyscanconfigid: {}
      policyseverity: {}
      policytype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      previousip: {}
      processendtime: {}
      processid: {}
      processname: {}
      processstarttime: {}
      qid: {}
      quarantined: {}
      quarantinefolder: {}
      quarantinerule: {}
      rating: {}
      redlockalertid: {}
      redlockpolicyname: {}
      region: {}
      regionid: {}
      replacePlaybook: {}
      reportingdepartment: {}
      resourceapiname: {}
      resourcecloudtype: {}
      resourceid: {}
      resourcename: {}
      resourcetype: {}
      riskrating: {}
      riskscore: {}
      roles: {}
      rrn: {}
      samaccountname: {}
      sectorofaffectedparty: {}
      securitygroupid: {}
      sensorid: {}
      severity: {}
      severityname: {}
      sha1: {}
      sha256: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      skuname: {}
      skutier: {}
      sla: {}
      slaField: {}
      solutionbrief: {}
      spamscore: {}
      src: {}
      srcntdomain: {}
      srcos: {}
      srcuser: {}
      subscriptionassignedby: {}
      subscriptioncreatedby: {}
      subscriptioncreatedon: {}
      subscriptiondescription: {}
      subscriptionid: {}
      subscriptionname: {}
      subscriptiontype: {}
      subscriptionupdatedby: {}
      subscriptionupdatedon: {}
      subtype: {}
      systemdefault: {}
      systems: {}
      tactic: {}
      technique: {}
      telephoneno: {}
      terminatedaction: {}
      test: {}
      testfieldhadas: {}
      threatactor: {}
      threatinfomap: {}
      threattime: {}
      ticketnumber: {}
      trapsid: {}
      triggeredsecurityprofile: {}
      type: {}
      user: {}
      useragent: {}
      vendorid: {}
      vendorproduct: {}
      version: {}
      vpcid: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      wildfiresubtype: {}
      xdralertcount: {}
      xdralerts: {}
      xdrassigneduseremail: {}
      xdrassigneduserprettyname: {}
      xdrdescription: {}
      xdrdetectiontime: {}
      xdrfileartifacts: {}
      xdrhighseverityalertcount: {}
      xdrhighseverityalerts: {}
      xdrhostcount: {}
      xdrincidentid: {}
      xdrincidentmarkdown: {}
      xdrlowseverityalertcount: {}
      xdrlowseverityalerts: {}
      xdrmanualseverity: {}
      xdrmediumseverityalertcount: {}
      xdrmediumseverityalerts: {}
      xdrnetworkartifacts: {}
      xdrnotes: {}
      xdrresolvecomment: {}
      xdrstatus: {}
      xdrurl: {}
      xdrusercount: {}
    separatecontext: false
    task:
      brand: Builtin
      description: Change the properties of an incident
      id: 4e2224f0-7a53-40b6-8d37-85a36e2929a5
      iscommand: true
      name: Set incident - Isolated field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 4e2224f0-7a53-40b6-8d37-85a36e2929a5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 500,
          "y": 2050
        }
      }
  "62":
    id: "62"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "36"
    note: false
    scriptarguments:
      Hostname:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
      MD5:
        complex:
          root: inputs.MD5
      Path:
        complex:
          root: inputs.FilePath
      SHA256:
        complex:
          root: inputs.SHA256
      UseD2:
        complex:
          root: inputs.UseD2
    separatecontext: true
    task:
      brand: ""
      id: b578ac1a-1d46-4661-8d0e-f16132e1c714
      iscommand: false
      name: Retrieve File from Endpoint - Generic
      playbookId: Retrieve File from Endpoint - Generic
      type: playbook
      version: -1
    taskid: b578ac1a-1d46-4661-8d0e-f16132e1c714
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 750,
          "y": 530
        }
      }
  "63":
    id: "63"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "61"
    note: false
    scriptarguments:
      EndpointId:
        complex:
          accessor: EndpointID
          root: Traps
      Hostname:
        complex:
          accessor: Hostname
          root: Endpoint
    separatecontext: true
    task:
      brand: ""
      description: |-
        This playbook isolates a given endpoint using the following integrations:
        - Carbon Black Enterprise Response
        - Palo Alto Networks Traps
      id: 0c3fb220-ba27-4125-8ac9-261a47683b6f
      iscommand: false
      name: Isolate Endpoint - Generic
      playbookId: Isolate Endpoint - Generic
      type: playbook
      version: -1
    taskid: 0c3fb220-ba27-4125-8ac9-261a47683b6f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 500,
          "y": 1890
        }
      }
  "64":
    id: "64"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    separatecontext: true
    task:
      brand: ""
      id: b06b38e8-71f6-4bfe-8c50-db47474adfc9
      iscommand: false
      name: Isolate Endpoint - Generic
      playbookId: Isolate Endpoint - Generic
      type: playbook
      version: -1
    taskid: b06b38e8-71f6-4bfe-8c50-db47474adfc9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 500,
          "y": 3340
        }
      }
  "65":
    id: "65"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    separatecontext: true
    task:
      brand: ""
      id: 34b92e50-ae2d-42aa-8838-68af465ca448
      iscommand: false
      name: Block Indicators - Generic v2
      playbookId: Block Indicators - Generic v2
      type: playbook
      version: -1
    taskid: 34b92e50-ae2d-42aa-8838-68af465ca448
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -40,
          "y": 3820
        }
      }
  "66":
    id: "66"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "64"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 5ced3ed5-4b18-4424-8392-48fa126a1fea
      iscommand: false
      name: Isolate infected endpoints
      type: title
      version: -1
    taskid: 5ced3ed5-4b18-4424-8392-48fa126a1fea
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 500,
          "y": 3190
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "36_28_yes": 0.49,
      "36_37_#default#": 0.64,
      "39_15_No": 0.44,
      "39_56_Yes": 0.5,
      "46_44_No": 0.58,
      "50_51_#default#": 0.64,
      "51_45_Close as False positive": 0.51,
      "51_46_Continue": 0.52,
      "56_15_#default#": 0.37,
      "56_55_yes": 0.6
    },
    "paper": {
      "dimensions": {
        "height": 4815,
        "width": 1690,
        "x": -300,
        "y": 70
      }
    }
  }
