playbook-Discover_-_Playbook_Phishing_v1.0.yml
description: |-
  Discover Custom Phishing Playbook. Use this playbook to investigate and remediate a potential phishing incident. The playbook simultaneously engages with the user that triggered the incident, while investigating the incident itself.

  The final remediation tasks are always decided by a human analyst.
id: 35e5561f-f02d-4dae-852b-808aaaf49f79
inputs:
- description: The default role to assign the incident to.
  key: Role
  required: true
  value:
    simple: Administrator
- description: |-
    Enable the "Search and Delete" capability (can be either "True" or "False").
    In case of a malicious email, the "Search and Delete" sub-playbook will look for other instances of the email and delete them pending analyst approval.
  key: SearchAndDelete
  required: false
  value:
    simple: "False"
- description: |-
    Enable the "Block Indicators" capability (can be either "True" or "False").
    In case of a malicious email, the "Block Indicators" sub-playbook will block all malicious indicators in the relevant integrations.
  key: BlockIndicators
  required: false
  value:
    simple: "False"
name: Discover - Playbook Phishing v1.0
outputs: []
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: a309c013-d866-41c9-87cf-59769942b6a0
      iscommand: false
      name: ""
      version: -1
    taskid: a309c013-d866-41c9-87cf-59769942b6a0
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 50
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    reputationcalc: 1
    scriptarguments:
      assignBy: {}
      email: {}
      roles:
        complex:
          root: inputs.Role
      username: {}
    separatecontext: false
    task:
      brand: ""
      description: Assign the incident to an analyst based on the analyst's organizational
        role.
      id: 9367928a-d756-421d-8a5f-df4987794973
      iscommand: false
      name: Assign to analyst
      script: AssignAnalystToIncident
      type: regular
      version: -1
    taskid: 9367928a-d756-421d-8a5f-df4987794973
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 1710
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "46"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 5f0eb72a-9754-4f9d-8977-5f159b40bf76
      iscommand: false
      name: ""
      playbookId: Calculate Severity - Generic
      type: playbook
      version: -1
    taskid: 5f0eb72a-9754-4f9d-8977-5f159b40bf76
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 1185
        }
      }
  "8":
    id: "8"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    reputationcalc: 1
    scriptarguments:
      assetid: {}
      closeNotes: {}
      closeReason: {}
      id: {}
      importantfield: {}
      test2: {}
      timefield1: {}
    separatecontext: false
    task:
      brand: Builtin
      description: Close the investigation.
      id: 52cdcb44-e667-46cf-8ea2-5df2b95c7981
      iscommand: true
      name: Close investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 52cdcb44-e667-46cf-8ea2-5df2b95c7981
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 4320
        }
      }
  "11":
    id: "11"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 7888aa32-4698-4bed-86d4-fb9770a78508
      iscommand: false
      name: Triage
      type: title
      version: -1
    taskid: 7888aa32-4698-4bed-86d4-fb9770a78508
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 340
        }
      }
  "12":
    id: "12"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Account.Email.Address
      value:
        complex:
          accessor: labels.Email/from
          root: incident
    separatecontext: false
    task:
      brand: ""
      description: Store the email address of the user that reported the incident.
      id: 23bdd2a5-7b85-4e08-8b4e-d1c1f7837458
      iscommand: false
      name: Store the email address of the reporting user
      script: Set
      type: regular
      version: -1
    taskid: 23bdd2a5-7b85-4e08-8b4e-d1c1f7837458
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 1185
        }
      }
  "13":
    id: "13"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    reputationcalc: 1
    scriptarguments:
      attachIDs: {}
      attachNames: {}
      bcc: {}
      body:
        simple: "Hi ${.=val.Account.DisplayName && val.Email.Address === val.incident.labels['Email/from']
          ? val.Account.DisplayName : val.incident.labels['Email/from']},\nWe've received
          your email and are investigating.\nPlease do not touch the email until further
          notice.\n\nCordially, \n  Your friendly neighborhood security team"
      cc: {}
      htmlBody: {}
      replyTo: {}
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        complex:
          accessor: labels.Email/from
          root: incident
    separatecontext: false
    task:
      brand: ""
      description: |
        Send an auto-response to user that reported the incident, informing them the incident was received and being handled.
      id: 05e931a0-a661-46de-8c8c-be5c5226c1a9
      iscommand: true
      name: Acknowledge incident was received
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 05e931a0-a661-46de-8c8c-be5c5226c1a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 1535
        }
      }
  "14":
    id: "14"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    separatecontext: true
    task:
      brand: ""
      id: 3adbc930-fb2d-46df-841b-b22dadfabdae
      iscommand: false
      name: Email Address Enrichment - Generic
      playbookId: email_address_enrichment_-_generic
      type: playbook
      version: -1
    taskid: 3adbc930-fb2d-46df-841b-b22dadfabdae
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 1360
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.severity
          operator: greaterThanOrEqual
          right:
            value:
              simple: "2"
      label: 'Malicious '
    id: "15"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "48"
      'Malicious ':
      - "30"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Determine if the email is malicious based on the calculated severity.
      id: aedcd01e-6f3b-45da-8ffd-5a1767b55447
      iscommand: false
      name: Is the email malicious?
      type: condition
      version: -1
    taskid: aedcd01e-6f3b-45da-8ffd-5a1767b55447
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 1885
        }
      }
  "17":
    id: "17"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "51"
    note: false
    scriptarguments:
      attachIDs: {}
      attachNames: {}
      bcc: {}
      body:
        simple: |-
          Hi ${.=val.Account.DisplayName && val.Email.Address === val.incident.labels['Email/from'] ? val.Account.DisplayName : val.incident.labels['Email/from']},
          We've concluded that the email you forwarded to us is malicious. We've taken steps to blacklist the sender and quarantine the email. Good job on detecting and forwarding it to us!

          All the best,
            Your security team
      cc: {}
      htmlBody: {}
      replyTo: {}
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        simple: ${incident.labels.Email/from}
    separatecontext: false
    task:
      brand: ""
      description: Send an email to the user explaining that the email they reported
        is malicious.
      id: ce472613-cd6f-4e0b-8d70-90c8321a0c26
      iscommand: true
      name: Update  the user that the reported email is malicious
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: ce472613-cd6f-4e0b-8d70-90c8321a0c26
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2205
        }
      }
  "18":
    id: "18"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 31016abe-6ffb-4186-81f8-40ca12dec49b
      iscommand: false
      name: Engage with User
      type: title
      version: -1
    taskid: 31016abe-6ffb-4186-81f8-40ca12dec49b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 1025
        }
      }
  "22":
    id: "22"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    separatecontext: true
    task:
      brand: ""
      id: fcc10be4-d186-46f1-8b94-53f6c09b09cd
      iscommand: false
      name: Detonate File - Generic
      playbookId: Detonate File - Generic
      type: playbook
      version: -1
    taskid: fcc10be4-d186-46f1-8b94-53f6c09b09cd
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 1010
        }
      }
  "25":
    id: "25"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "6"
      - "45"
    note: false
    separatecontext: true
    task:
      brand: ""
      id: 08aa4332-b539-4313-85d8-8f255fbda002
      iscommand: false
      name: Entity Enrichment - Generic
      playbookId: entity_enrichment_generic
      type: playbook
      version: -1
    taskid: 08aa4332-b539-4313-85d8-8f255fbda002
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 835
        }
      }
  "26":
    id: "26"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "35"
      - "22"
      - "44"
    note: false
    scriptarguments:
      Email:
        complex:
          accessor: labels.Email
          root: incident
      Email/cc:
        complex:
          accessor: labels.CC
          root: incident
      Email/format:
        complex:
          accessor: labels.Email/format
          root: incident
      Email/from:
        complex:
          accessor: labels.Email/from
          root: incident
      Email/headers:
        complex:
          accessor: labels.Email/headers
          root: incident
      Email/html:
        complex:
          accessor: labels.Email/html
          root: incident
      Email/subject:
        complex:
          accessor: labels.Email/subject
          root: incident
      Email/text:
        complex:
          accessor: labels.Email/text
          root: incident
      File:
        complex:
          root: File
      GetOriginalEmail:
        simple: "False"
    separatecontext: true
    task:
      brand: ""
      description: Add email details to the relevant context entities and handle the
        case where original emails are attached.
      id: b8ca8ca1-754b-4cd7-887e-9f0480cf9103
      iscommand: false
      name: Process Email - Generic
      playbookId: process_email_-_generic
      type: playbook
      version: -1
    taskid: b8ca8ca1-754b-4cd7-887e-9f0480cf9103
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 485
        }
      }
  "29":
    id: "29"
    ignoreworker: false
    note: false
    separatecontext: false
    task:
      brand: ""
      id: d24602e7-8d1f-4ff7-8f20-b96173c58caa
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: d24602e7-8d1f-4ff7-8f20-b96173c58caa
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 4505
        }
      }
  "30":
    id: "30"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: f2bdc595-82a9-45b2-8927-dc6daaeffbb2
      iscommand: false
      name: Malicious
      type: title
      version: -1
    taskid: f2bdc595-82a9-45b2-8927-dc6daaeffbb2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2060
        }
      }
  "35":
    id: "35"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    separatecontext: true
    task:
      brand: ""
      id: e7c37214-e94d-407d-8f3d-e5ee31968f11
      iscommand: false
      name: Extract Indicators From File - Generic
      playbookId: extract_indicators_from_file_-_generic
      type: playbook
      version: -1
    taskid: e7c37214-e94d-407d-8f3d-e5ee31968f11
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 660
        }
      }
  "39":
    id: "39"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "11"
      - "18"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 798d0ab0-7874-43cd-8bd0-18797ef41f04
      iscommand: false
      name: Start Detection Timer
      type: title
      version: -1
    taskid: 798d0ab0-7874-43cd-8bd0-18797ef41f04
    timertriggers:
    - action: start
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 195
        }
      }
  "44":
    id: "44"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: fb112b3b-0a80-444d-8ce5-f7c352616e62
      iscommand: false
      name: 'Proofpoint TAP Enrichment '
      type: title
      version: -1
    taskid: fb112b3b-0a80-444d-8ce5-f7c352616e62
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 1025
        }
      }
  "45":
    id: "45"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 59875c45-06d7-4767-803c-a2a762da6a43
      iscommand: false
      name: Enrichment of Recipients from Anomali and Modulus
      type: regular
      version: -1
    taskid: 59875c45-06d7-4767-803c-a2a762da6a43
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1025
        }
      }
  "46":
    id: "46"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: dc396e80-9f23-4404-8590-45b12d922f2f
      iscommand: false
      name: 'Are the recipients/reporters of the Email HVTs? '
      type: title
      version: -1
    taskid: dc396e80-9f23-4404-8590-45b12d922f2f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 1375
        }
      }
  "47":
    id: "47"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 1420dcfb-bc4d-461d-81b6-989515daf012
      iscommand: false
      name: Change Severity and Send SIIRT Email if YES
      type: title
      version: -1
    taskid: 1420dcfb-bc4d-461d-81b6-989515daf012
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 1550
        }
      }
  "48":
    id: "48"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "49"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 6e845ce1-0b32-4b8d-8303-2df29ef53e71
      iscommand: false
      name: 'False Positive, Close Artifact in Demisto '
      type: regular
      version: -1
    taskid: 6e845ce1-0b32-4b8d-8303-2df29ef53e71
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 310,
          "y": 3760
        }
      }
  "49":
    id: "49"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 81c675d9-051e-4e94-85b5-27878e2cf44b
      iscommand: false
      name: Delete the submitted Email from the Phishing Mailbox
      type: regular
      version: -1
    taskid: 81c675d9-051e-4e94-85b5-27878e2cf44b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 310,
          "y": 3955
        }
      }
  "51":
    id: "51"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: f6fbfbc6-8be2-4c91-8912-7f3bcd9cb98e
      iscommand: false
      name: 'Set date/time for mail received time and reported time '
      type: regular
      version: -1
    taskid: f6fbfbc6-8be2-4c91-8912-7f3bcd9cb98e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2380
        }
      }
  "52":
    id: "52"
    ignoreworker: false
    nexttasks:
      "no":
      - "54"
      "yes":
      - "53"
    note: false
    scriptarguments:
      value: {}
    separatecontext: false
    task:
      brand: ""
      id: 5708fcaf-ae2d-4de4-872a-1dc824213637
      iscommand: false
      name: Did Proofpoint TRAP Quarantine the EMail?
      script: IsTrue
      type: condition
      version: -1
    taskid: 5708fcaf-ae2d-4de4-872a-1dc824213637
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2555
        }
      }
  "53":
    id: "53"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 0ca35efb-a546-4cf2-8b51-9ff847578139
      iscommand: false
      name: Populate Containment Date from Proofpoint
      type: regular
      version: -1
    taskid: 0ca35efb-a546-4cf2-8b51-9ff847578139
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 2905
        }
      }
  "54":
    id: "54"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 2e312521-d197-4877-8e43-c1a45e2028ba
      iscommand: false
      name: Increase the Severity
      type: regular
      version: -1
    taskid: 2e312521-d197-4877-8e43-c1a45e2028ba
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 2730
        }
      }
  "55":
    id: "55"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 808e89c2-2fc7-42eb-8a9d-35fde9772dcb
      iscommand: false
      name: Get the Email from the Proofpoint TRAP Inbox
      type: regular
      version: -1
    taskid: 808e89c2-2fc7-42eb-8a9d-35fde9772dcb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 2905
        }
      }
  "56":
    id: "56"
    ignoreworker: false
    nexttasks:
      "no":
      - "58"
      "yes":
      - "57"
    note: false
    scriptarguments:
      value: {}
    separatecontext: false
    task:
      brand: ""
      id: fc57a171-f96b-48de-8c78-8683efdf35f5
      iscommand: false
      name: Do the proxy log suggest interaction with the URL?
      script: Exists
      type: condition
      version: -1
    taskid: fc57a171-f96b-48de-8c78-8683efdf35f5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 3080
        }
      }
  "57":
    id: "57"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: a9307be7-9cb1-485e-82da-2d51e5462b7c
      iscommand: false
      name: Change Cyber Kill Chain to 5 - Exploitation
      type: regular
      version: -1
    taskid: a9307be7-9cb1-485e-82da-2d51e5462b7c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 3255
        }
      }
  "58":
    id: "58"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "59"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: cf9a1fbf-e6ab-4081-8439-ee6c3f3e1136
      iscommand: false
      name: Increase Case Severity level
      type: regular
      version: -1
    taskid: cf9a1fbf-e6ab-4081-8439-ee6c3f3e1136
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 3255
        }
      }
  "59":
    id: "59"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 0f41d046-bfd2-486b-8a58-fca02f52e1f2
      iscommand: false
      name: 'Change Cyber Kill Chain to 8-Action on Objectives '
      type: regular
      version: -1
    taskid: 0f41d046-bfd2-486b-8a58-fca02f52e1f2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 3430
        }
      }
  "60":
    id: "60"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 38cf8b91-8eec-42b9-8174-0d7e0c54e0f2
      iscommand: false
      name: Update Containment date/time if the URL was blocked at Proxy
      type: regular
      version: -1
    taskid: 38cf8b91-8eec-42b9-8174-0d7e0c54e0f2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 3430
        }
      }
  "61":
    id: "61"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "62"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 61a6df8d-3941-4ecc-8095-926042e9d67e
      iscommand: false
      name: Report user to Social Engineering Team for training
      type: regular
      version: -1
    taskid: 61a6df8d-3941-4ecc-8095-926042e9d67e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 3605
        }
      }
  "62":
    id: "62"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: e1309176-7730-470f-890d-ad4c5ca5eb99
      iscommand: false
      name: Block sender Email address at Proofpoint TAP
      type: regular
      version: -1
    taskid: e1309176-7730-470f-890d-ad4c5ca5eb99
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 3780
        }
      }
  "63":
    id: "63"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "64"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 8cdcc690-6c9d-4865-82d6-2908188f59af
      iscommand: false
      name: Populate Artifacts from Demisto to Case Management Solution
      type: regular
      version: -1
    taskid: 8cdcc690-6c9d-4865-82d6-2908188f59af
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 3955
        }
      }
  "64":
    id: "64"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: f610c41f-69cc-4d5a-8e58-8704839178cf
      iscommand: false
      name: Adjust Severity Level as indicated by SIIRT SOC procedure
      type: regular
      version: -1
    taskid: f610c41f-69cc-4d5a-8e58-8704839178cf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1020,
          "y": 4090
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 4520,
        "width": 1782.5,
        "x": 50,
        "y": 50
      }
    }
  }
