playbook-Employee_Offboarding_-_Delegate.yml
description: This playbook delegates user resources and permissions as part of the
  IT - Employee Offboarding playbook.
id: Employee Offboarding - Delegate
inputs:
- description: The email of the manager of the user you are offboarding.
  key: UserManagerEmail
  required: false
  value:
    complex:
      accessor: employeemanageremail
      root: incident
- description: The email address of the user that you are offboarding.
  key: OffboardingUserEmail
  required: true
  value:
    complex:
      accessor: employeeemail
      root: incident
- description: The automatic message that is sent as reply from the user you are offboarding
    once they lose access to their email account.
  key: AutoreplyMessage
  required: false
  value:
    simple: This employee is no longer with our company.
name: Employee Offboarding - Delegate
outputs: []
sourceplaybookid: IT - Employee Offboarding
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: a99d2982-2041-46a5-876a-d2eab2ebb4ac
      iscommand: false
      name: ""
      version: -1
    taskid: a99d2982-2041-46a5-876a-d2eab2ebb4ac
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1445,
          "y": 160
        }
      }
  "6":
    fieldMapping:
    - incidentfield: Email Auto-reply
      output:
        simple: Set
    id: "6"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    reputationcalc: 1
    scriptarguments:
      enable-autoReply: {}
      response-body:
        complex:
          root: inputs.AutoreplyMessage
      response-subject:
        simple: Inactive user
      user-id:
        complex:
          root: inputs.OffboardingUserEmail
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: ""
      description: Configures the auto-reply message sent from the user.
      id: dfcc886c-049c-4cca-804d-3ade1b565314
      iscommand: true
      name: Set auto-reply email for user
      script: '|||gmail-set-autoreply'
      type: regular
      version: -1
    taskid: dfcc886c-049c-4cca-804d-3ade1b565314
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 515,
          "y": 945
        }
      }
  "7":
    continueonerror: true
    fieldMapping:
    - incidentfield: Mailbox Delegation
      output:
        simple: Delegated
    id: "7"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "59"
    note: false
    reputationcalc: 1
    scriptarguments:
      delegate-email:
        complex:
          root: UserManagerEmail
          transformers:
          - operator: uniq
      user-id:
        complex:
          root: inputs.OffboardingUserEmail
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: ""
      description: Adds a delegate with its verification status set directly to accepted,
        without sending any verification email. The delegate user must be a member
        of the same G Suite organization as the delegator user. Note that a delegate
        user must be referred to by their primary email address, and not an email
        alias.
      id: 4c220485-3aff-4c21-8223-60df46080c46
      iscommand: true
      name: Delegate mailbox to manager
      script: '|||gmail-delegate-user-mailbox'
      type: regular
      version: -1
    taskid: 4c220485-3aff-4c21-8223-60df46080c46
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 965,
          "y": 1125
        }
      }
  "8":
    id: "8"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    scriptarguments:
      additionalHeader: {}
      attachCIDs: {}
      attachIDs: {}
      attachNames: {}
      bcc: {}
      body:
        simple: User ${inputs.OffboardingUserEmail} mailbox has been delegated to
          you.
      cc: {}
      from: {}
      htmlBody: {}
      raw_message: {}
      replyTo: {}
      subject:
        simple: Mailbox delegation of ${inputs.OffboardingUserEmail}
      templateParams: {}
      to:
        complex:
          root: UserManagerEmail
          transformers:
          - operator: uniq
      transientFile: {}
      transientFileCID: {}
      transientFileContent: {}
    separatecontext: false
    task:
      brand: ""
      description: Sends an email to the user's manager, saying the mailbox was delegated
        to them.
      id: 4925fc21-90a2-4baa-868a-a74e40f9b477
      iscommand: true
      name: Send email to manager stating the mailbox is delegated
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 4925fc21-90a2-4baa-868a-a74e40f9b477
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 965,
          "y": 1465
        }
      }
  "12":
    id: "12"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: |-
        Use the 'patch' API call to update the manager and make them owner. The 'patch' call updates the membership properties of a user in the specified group.
        https://developers.google.com/admin-sdk/directory/v1/reference/members/patch
      id: b9ea9961-4637-4ea0-877f-07730b7b1716
      iscommand: false
      name: Transfer ownership of groups to manager
      type: regular
      version: -1
    taskid: b9ea9961-4637-4ea0-877f-07730b7b1716
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2100,
          "y": 795
        }
      }
  "13":
    id: "13"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "127"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Transfers ownership of Google Drive files to the user's manager.
        See https://developers.google.com/drive/api/v2/reference/permissions/update
      id: cc652250-534a-4343-82d7-88ee37544333
      iscommand: false
      name: Transfer ownership of Google Drive files to the user's manager
      type: regular
      version: -1
    taskid: cc652250-534a-4343-82d7-88ee37544333
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2510,
          "y": 795
        }
      }
  "14":
    id: "14"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Please transfer ownership of calendars that the user has, to their
        manager.
      id: 4c8c3da8-d763-47de-8921-3874b752c74b
      iscommand: false
      name: Transfer ownership of primary & secondary calendars to manager
      type: regular
      version: -1
    taskid: 4c8c3da8-d763-47de-8921-3874b752c74b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1690,
          "y": 795
        }
      }
  "16":
    id: "16"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "127"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Remove user membership from all groups to which they belong.
      id: bacf4dad-268c-4318-8eaa-b67ec6623849
      iscommand: false
      name: Remove user from groups
      type: regular
      version: -1
    taskid: bacf4dad-268c-4318-8eaa-b67ec6623849
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2100,
          "y": 975
        }
      }
  "17":
    id: "17"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "127"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Remove all calendars from the user's calendar list.
      id: e1fba250-4e8a-4429-893b-287fc7a2ea29
      iscommand: false
      name: Remove user from shared calendars
      type: regular
      version: -1
    taskid: e1fba250-4e8a-4429-893b-287fc7a2ea29
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1690,
          "y": 975
        }
      }
  "33":
    id: "33"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "116"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 2d9c2bcf-af99-4384-84fa-0207cbebdb53
      iscommand: false
      name: Delegation
      type: title
      version: -1
    taskid: 2d9c2bcf-af99-4384-84fa-0207cbebdb53
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1445,
          "y": 330
        }
      }
  "34":
    id: "34"
    ignoreworker: false
    note: false
    separatecontext: false
    task:
      brand: ""
      id: bbf30108-ca7b-4003-89b2-3ab18520b2b3
      iscommand: false
      name: Proceed to Next Stage
      type: title
      version: -1
    taskid: bbf30108-ca7b-4003-89b2-3ab18520b2b3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1445,
          "y": 1800
        }
      }
  "35":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: UserManagerEmail
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    id: "35"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "7"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Checks whether the email of the manager of the user you are offboarding
        was configured in the playbook inputs.
      id: 77f2cbf4-58af-4b15-8c4c-295f6bbdc07a
      iscommand: false
      name: Is the manager email configured?
      type: condition
      version: -1
    taskid: 77f2cbf4-58af-4b15-8c4c-295f6bbdc07a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 965,
          "y": 945
        }
      }
  "59":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Mail Sender (New)
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: EWS Mail Sender
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
        - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Gmail
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    id: "59"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "8"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Checks whether any mail sender integration is enabled.
      id: 3f910896-24c1-4b14-8487-8ff607c91367
      iscommand: false
      name: Is a mail sender integration enabled?
      type: condition
      version: -1
    taskid: 3f910896-24c1-4b14-8487-8ff607c91367
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 965,
          "y": 1280
        }
      }
  "74":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Gmail
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    id: "74"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "6"
      - "35"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Checks whether the Gmail integration is enabled.
      id: dbe292e1-6bb9-4b4d-83fa-39f2e0717924
      iscommand: false
      name: Is Gmail enabled?
      type: condition
      version: -1
    taskid: dbe292e1-6bb9-4b4d-83fa-39f2e0717924
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 730,
          "y": 770
        }
      }
  "75":
    id: "75"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "74"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: e2c41437-7f01-4050-819e-10a4cf1cfd61
      iscommand: false
      name: Gmail
      type: title
      version: -1
    taskid: e2c41437-7f01-4050-819e-10a4cf1cfd61
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 730,
          "y": 645
        }
      }
  "76":
    id: "76"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "14"
      - "12"
      - "13"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 45ea8f88-b506-48ac-8bd9-e063d40ec94e
      iscommand: false
      name: Manual Ownership Transferal
      type: title
      version: -1
    taskid: 45ea8f88-b506-48ac-8bd9-e063d40ec94e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2100,
          "y": 645
        }
      }
  "116":
    id: "116"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "75"
      - "76"
    note: false
    reputationcalc: 1
    scriptarguments:
      account: {}
      accountid: {}
      activedirectoryaccountstatus: {}
      activedirectorypasswordstatus: {}
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      agentid: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      blockedaction: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      commandline: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      companypropertystatus: {}
      contactaddress: {}
      contactname: {}
      coordinates: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      dbotprediction: {}
      dbotpredictionprobability: {}
      deleteEmptyField: {}
      dest: {}
      destinationip: {}
      destntdomain: {}
      details: {}
      detectionendtime: {}
      detectionid: {}
      detectionticketed: {}
      detectionupdatetime: {}
      detectionurl: {}
      devicegsuiteaccountstatus: {}
      devicename: {}
      dpoemailaddress: {}
      duoaccountstatus: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailautoreply: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailheaders: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      employeedisplayname: {}
      employeeemail: {}
      employeemanageremail: {}
      extrahopapplianceid: {}
      extrahophostname: {}
      filehash: {}
      filename: {}
      filepath: {}
      filesize: {}
      firstseen: {}
      globaldirectoryvisibility: {}
      googleaccountstatus: {}
      googleadminrolesstatus: {}
      googledrivestatus: {}
      googlemailstatus: {}
      googlepasswordstatus: {}
      hostname: {}
      id: {}
      infectedhosts: {}
      isolated: {}
      isthedatasubjecttodpia: {}
      labels: {}
      lastmodifiedby: {}
      lastmodifiedon: {}
      lastseen: {}
      likelyimpact: {}
      mailboxdelegation: {}
      maliciousbehavior: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      niststage: {}
      occurred: {}
      offboardingstage:
        simple: Delegation
      oktaaccountstatus: {}
      owner: {}
      parentprocessid: {}
      participants: {}
      phase: {}
      phishingsubtype: {}
      pid: {}
      policydeleted: {}
      policydescription: {}
      policydetails: {}
      policyid: {}
      policyrecommendation: {}
      policyremediable: {}
      policyseverity: {}
      policytype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      previouscoordinates: {}
      previouscountry: {}
      previoussignindatetime: {}
      previoussourceip: {}
      prismacloudid: {}
      prismacloudreason: {}
      prismacloudrules: {}
      prismacloudstatus: {}
      prismacloudtime: {}
      rating: {}
      rawparticipants: {}
      region: {}
      regionid: {}
      replacePlaybook: {}
      reporteremailaddress: {}
      resourceapiname: {}
      resourcecloudtype: {}
      resourceid: {}
      resourcename: {}
      resourcetype: {}
      riskrating: {}
      riskscore: {}
      roles: {}
      rrn: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      signindatetime: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      skuname: {}
      skutier: {}
      sla: {}
      slaField: {}
      sourceip: {}
      src: {}
      srcntdomain: {}
      srcos: {}
      srcuser: {}
      subscriptionassignedby: {}
      subscriptioncreatedby: {}
      subscriptioncreatedon: {}
      subscriptiondescription: {}
      subscriptionid: {}
      subscriptionname: {}
      subscriptiontype: {}
      subscriptionupdatedby: {}
      subscriptionupdatedon: {}
      subtype: {}
      systemdefault: {}
      systems: {}
      telephoneno: {}
      terminatedaction: {}
      threatactor: {}
      trapsid: {}
      travelmaplink: {}
      triggeredsecurityprofile: {}
      type: {}
      urlsslverification: {}
      user: {}
      username: {}
      vendorid: {}
      vendorproduct: {}
      vpcid: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      xdralertcount: {}
      xdralerts: {}
      xdrassigneduseremail: {}
      xdrassigneduserprettyname: {}
      xdrdescription: {}
      xdrdetectiontime: {}
      xdrfileartifacts: {}
      xdrhighseverityalertcount: {}
      xdrincidentid: {}
      xdrlowseverityalertcount: {}
      xdrmediumseverityalertcount: {}
      xdrnetworkartifacts: {}
      xdrnotes: {}
      xdrresolvecomment: {}
      xdrstatus: {}
      xdrurl: {}
      xdrusercount: {}
    separatecontext: false
    task:
      brand: Builtin
      description: Updates the stage of the offboarding process in the incident details.
      id: fcf4aee1-45bc-4cea-8b89-fc6d3f7dffb2
      iscommand: true
      name: Update offboarding stage
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: fcf4aee1-45bc-4cea-8b89-fc6d3f7dffb2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1445,
          "y": 455
        }
      }
  "127":
    id: "127"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 392288ae-6b4f-4a6c-8dbd-390d969b25b1
      iscommand: false
      name: Manual Ownership Transferal - Done
      type: title
      version: -1
    taskid: 392288ae-6b4f-4a6c-8dbd-390d969b25b1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2100,
          "y": 1180
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "35_34_#default#": 0.33,
      "35_7_yes": 0.49,
      "59_34_#default#": 0.36,
      "74_34_#default#": 0.41,
      "74_35_yes": 0.43,
      "74_6_yes": 0.47
    },
    "paper": {
      "dimensions": {
        "height": 1705,
        "width": 2375,
        "x": 515,
        "y": 160
      }
    }
  }
