playbook-PANW_-_Hunting_and_threat_detection_by_indicator_type.yml
description: Deprecated. Use the "PANW - Hunting and threat detection by indicator
  type V2" playbook instead.
id: PANW - Hunting and threat detection by indicator type
inputs:
- description: SHA256 hash for indicator to hunt.
  key: SHA256
  required: false
  value:
    complex:
      accessor: SHA256
      root: File
- description: MD5 hash for indicator to hunt.
  key: MD5
  required: false
  value:
    complex:
      accessor: MD5
      root: File
- description: SHA1 hash for indicator to hunt.
  key: SHA1
  required: false
  value:
    complex:
      accessor: SHA1
      root: File
- description: List of IP addresses.
  key: IP addresses
  required: false
  value:
    simple: ${IP.Address}
- description: List of domains or urls.
  key: Domain
  required: false
  value:
    simple: ${Domain.Name}
name: PANW - Hunting and threat detection by indicator type
outputs:
- contextPath: detectedips
  description: IP address or array of IP addresses that were detected during hunting.
  type: string
- contextPath: detectedhosts
  description: Host or array of hosts that were detected during hunting.
  type: string
- contextPath: detectedusers
  description: User or array of users that were detected during hunting.
  type: string
- contextPath: trapsid
  description: ID or array of IDs for traps hosts detected in the searches.
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
      - "5"
      - "10"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: efd174b1-c3ae-48ce-8d14-52e397954612
      iscommand: false
      name: ""
      version: -1
    taskid: efd174b1-c3ae-48ce-8d14-52e397954612
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 920,
          "y": 0
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "96"
      - "108"
      - "109"
    note: false
    scriptarguments:
      MD5:
        complex:
          root: inputs.MD5
      SHA1:
        complex:
          root: inputs.SHA1
      SHA256:
        complex:
          root: inputs.SHA256
    separatecontext: true
    task:
      brand: ""
      description: |
        The playbook enables you to get all of the relevant file hashes even if there is only one hash type available.
        For example, if we have only the SHA256 hash, the playbook will get the SHA1 and MD5 hashes.
      id: e7cb950d-ab2c-4ecb-8e40-286bda3bc188
      iscommand: false
      name: Convert file hash to corresponding hashes
      playbookId: Convert file hash to corresponding hashes
      type: playbook
      version: -1
    taskid: e7cb950d-ab2c-4ecb-8e40-286bda3bc188
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 670,
          "y": 780
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: SHA256
                root: File
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: inputs.SHA256
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: inputs.MD5
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: inputs.SHA1
          operator: isNotEmpty
      label: "yes"
    id: "3"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "2"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: 8ef868fc-c15c-4eef-809a-3406267cb966
      iscommand: false
      name: Is there a hash?
      type: condition
      version: -1
    taskid: 8ef868fc-c15c-4eef-809a-3406267cb966
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 920,
          "y": 370
        }
      }
  "4":
    id: "4"
    ignoreworker: false
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: d28d4d4d-39fc-4eb9-88e9-58350c97441f
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: d28d4d4d-39fc-4eb9-88e9-58350c97441f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 890,
          "y": 2660
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.IP addresses
          operator: isNotEmpty
      label: "yes"
    id: "5"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "112"
      - "90"
      - "113"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Hedaer
      id: 6afdd613-3c03-4f59-8b4a-75377c439ce3
      iscommand: false
      name: Is there an ip?
      type: condition
      version: -1
    taskid: 6afdd613-3c03-4f59-8b4a-75377c439ce3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -940,
          "y": 380
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Domain
          operator: isNotEmpty
      label: "yes"
    id: "10"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "111"
      - "93"
      - "110"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is there an domain/url?
      id: 04619f6e-84db-4562-8c31-a1fd1518323c
      iscommand: false
      name: Is there a domain/url?
      type: condition
      version: -1
    taskid: 04619f6e-84db-4562-8c31-a1fd1518323c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3030,
          "y": 350
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: AutoFocus V2
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "18"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "100"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Autofocus enabled?
      id: 40a05796-6e85-4c73-8fd2-f893c6326afd
      iscommand: false
      name: Is Autofocus enabled?
      type: condition
      version: -1
    taskid: 40a05796-6e85-4c73-8fd2-f893c6326afd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1730,
          "y": 1060
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: AutoFocus.SessionsResults.dst_ip
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: AutoFocus.SessionsResults.src_ip
          operator: isNotEmpty
      label: "yes"
    id: "21"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "86"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Are there related sessions in Autofocus?
      id: c3b1dd7a-8d1d-4254-8ee3-041b13664c95
      iscommand: false
      name: Are there related sessions in Autofocus?
      type: condition
      version: -1
    taskid: c3b1dd7a-8d1d-4254-8ee3-041b13664c95
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1730,
          "y": 1900
        }
      }
  "23":
    id: "23"
    ignoreworker: false
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: 30dbaf3e-12b0-4cf2-8dd7-adef5027c5b4
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 30dbaf3e-12b0-4cf2-8dd7-adef5027c5b4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -940,
          "y": 2630
        }
      }
  "25":
    id: "25"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    scriptarguments:
      action: {}
      endTime: {}
      fields: {}
      from_zone: {}
      hash: {}
      ip:
        complex:
          root: inputs.IP addresses
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      limit: {}
      port: {}
      query: {}
      rangeValue: {}
      rule: {}
      startTime: {}
      timeRange: {}
      to_zone: {}
      url: {}
    separatecontext: false
    task:
      brand: ""
      description: Search in Cortex threat logs
      id: 33683a38-281e-4df3-8d0c-cdc0da120dc9
      iscommand: true
      name: Search in Cortex threat logs
      script: '|||cortex-query-threat-logs'
      type: regular
      version: -1
    taskid: 33683a38-281e-4df3-8d0c-cdc0da120dc9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -3250,
          "y": 1505
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Threat
          operator: isNotEmpty
      label: "yes"
    id: "26"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "27"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the IP address detected in Cortex threat logs?
      id: e15b4fef-75b8-4c07-8a9f-6eebb8456a57
      iscommand: false
      name: Is IP address detected in Cortex threat logs?
      type: condition
      version: -1
    taskid: e15b4fef-75b8-4c07-8a9f-6eebb8456a57
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -3250,
          "y": 1770
        }
      }
  "27":
    id: "27"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedips
      value:
        complex:
          accessor: Logging.Threat.Src
          root: Cortex
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Cortex.Logging.Threat.Dst
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: d1762265-fecc-426c-8247-ad1286c4a568
      iscommand: false
      name: Set detected source and destination IPs
      script: Set
      type: regular
      version: -1
    taskid: d1762265-fecc-426c-8247-ad1286c4a568
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -3620,
          "y": 2050
        }
      }
  "28":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Threat.Users
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Threat.Users
          operator: match
          right:
            value:
              simple: ^((?!\d+\.\d+\.\d+\.\d+).)*$
      label: "yes"
    id: "28"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "29"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Does event contain users?
      id: c627e2db-0423-4095-809e-5c5c181021d7
      iscommand: false
      name: Does event contain users?
      type: condition
      version: -1
    taskid: c627e2db-0423-4095-809e-5c5c181021d7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -3620,
          "y": 2250
        }
      }
  "29":
    id: "29"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    scriptarguments:
      append: {}
      key:
        simple: detectedusers
      value:
        complex:
          accessor: Logging.Threat.Users
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: ef697cd5-2d3d-4e45-80c8-f1ccd6076332
      iscommand: false
      name: Set detected users
      script: Set
      type: regular
      version: -1
    taskid: ef697cd5-2d3d-4e45-80c8-f1ccd6076332
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -3200,
          "y": 2440
        }
      }
  "30":
    id: "30"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    scriptarguments:
      action: {}
      endTime: {}
      fields: {}
      from_zone: {}
      ip:
        complex:
          root: inputs.IP addresses
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      limit: {}
      port: {}
      query: {}
      rangeValue: {}
      rule: {}
      startTime: {}
      timeRange: {}
      to_zone: {}
    separatecontext: false
    task:
      brand: ""
      description: Search in Cortex Traffic logs.
      id: a48eeba0-8c0e-4e05-841f-ca99383878b3
      iscommand: true
      name: Search in Cortex Traffic logs
      script: '|||cortex-query-traffic-logs'
      type: regular
      version: -1
    taskid: a48eeba0-8c0e-4e05-841f-ca99383878b3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2660,
          "y": 1505
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Traffic
          operator: isNotEmpty
      label: "yes"
    id: "31"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "32"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the IP address detected in Cortex traffic logs?
      id: 089cf7cd-0115-4595-8ad1-7fa5376fe8e7
      iscommand: false
      name: Is IP detected in Cortex traffic logs?
      type: condition
      version: -1
    taskid: 089cf7cd-0115-4595-8ad1-7fa5376fe8e7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2660,
          "y": 1770
        }
      }
  "32":
    id: "32"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedips
      value:
        complex:
          accessor: Logging.Traffic.Src
          root: Cortex
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Cortex.Logging.Traffic.Dst
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: ff3caca5-d5eb-4625-8b0f-b2930af3893d
      iscommand: false
      name: Set detected source and destination IPs
      script: Set
      type: regular
      version: -1
    taskid: ff3caca5-d5eb-4625-8b0f-b2930af3893d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2790,
          "y": 2050
        }
      }
  "35":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Panorama
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "35"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "141"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is PAN-OS enabled?
      id: de6bfa6c-d6a1-40e5-8bbf-134270c9d44e
      iscommand: false
      name: Is PAN-OS enabled?
      type: condition
      version: -1
    taskid: de6bfa6c-d6a1-40e5-8bbf-134270c9d44e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -190,
          "y": 1380
        }
      }
  "39":
    id: "39"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    scriptarguments:
      category: {}
      endTime: {}
      fields: {}
      hash:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: toUpperCase
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      host: {}
      ip: {}
      limit: {}
      query: {}
      rangeValue: {}
      startTime: {}
      timeRange: {}
      user: {}
    separatecontext: false
    task:
      brand: ""
      description: Search hash in Cortex (Traps Endpoint).
      id: 00873beb-a0e2-458f-8c6f-e0c8d3a82813
      iscommand: true
      name: Search hash in Cortex (Traps Endpoint)
      script: '|||cortex-query-traps-logs'
      type: regular
      version: -1
    taskid: 00873beb-a0e2-458f-8c6f-e0c8d3a82813
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 1440
        }
      }
  "40":
    id: "40"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "46"
    note: false
    scriptarguments:
      category: {}
      endTime: {}
      fields: {}
      hash:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: toLowerCase
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      host: {}
      ip: {}
      limit: {}
      query: {}
      rangeValue: {}
      startTime: {}
      timeRange: {}
      user: {}
    separatecontext: false
    task:
      brand: ""
      description: Search hash in Cortex (XDR Analytics).
      id: cda12bb9-7842-4bf1-8c00-178c14087336
      iscommand: true
      name: Search hash in Cortex (XDR Analytics)
      script: '|||cortex-query-analytics-logs'
      type: regular
      version: -1
    taskid: cda12bb9-7842-4bf1-8c00-178c14087336
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 1475
        }
      }
  "43":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: AutoFocus.SessionsResults.dst_ip
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: AutoFocus.SessionsResults.src_ip
          operator: isNotEmpty
      label: "yes"
    id: "43"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "72"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Are there related sessions in Autofocus?
      id: 19e4e525-4811-453c-8b0e-abd9d7a133bf
      iscommand: false
      name: Are there related sessions in Autofocus?
      type: condition
      version: -1
    taskid: 19e4e525-4811-453c-8b0e-abd9d7a133bf
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 670,
          "y": 1650
        }
      }
  "45":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Traps.MessageData.Files.SHA256
          operator: isNotEmpty
      label: "yes"
    id: "45"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "73"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the hash detected by Cortex Traps?
      id: a9361574-bc64-4e41-8d9b-988cb470833a
      iscommand: false
      name: Is hash detected by Cortex Traps?
      type: condition
      version: -1
    taskid: a9361574-bc64-4e41-8d9b-988cb470833a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 1590
        }
      }
  "46":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Analytics
          operator: isNotEmpty
      label: "yes"
    id: "46"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "50"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the hash detected by Cortex Analytics?
      id: f1211202-657d-4ffa-8f65-ae9fd672ffa7
      iscommand: false
      name: Is hash detected by Cortex Analytics?
      type: condition
      version: -1
    taskid: f1211202-657d-4ffa-8f65-ae9fd672ffa7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 1675
        }
      }
  "47":
    id: "47"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    scriptarguments:
      action: {}
      endTime: {}
      fields: {}
      from_zone: {}
      hash:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: toLowerCase
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      ip: {}
      limit: {}
      port: {}
      query: {}
      rangeValue: {}
      rule: {}
      startTime: {}
      timeRange: {}
      to_zone: {}
      url: {}
    separatecontext: false
    task:
      brand: ""
      description: The command searches the Cortex panw.threat table, which is the
        threat logs table for PAN-OS/Panorama.
      id: 1ddc064b-ee10-4dc8-8c9e-dbae661b9464
      iscommand: true
      name: Search for the hash in Cortex Threat logs
      script: '|||cortex-query-threat-logs'
      type: regular
      version: -1
    taskid: 1ddc064b-ee10-4dc8-8c9e-dbae661b9464
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2750,
          "y": 1440
        }
      }
  "48":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Threat
          operator: isNotEmpty
      label: "yes"
    id: "48"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "94"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the hash detected by Cortex Threat logs?
      id: 6eb8c99e-3d4a-474d-84bd-521aa1cfe92f
      iscommand: false
      name: Is hash detected by Cortex Threat logs?
      type: condition
      version: -1
    taskid: 6eb8c99e-3d4a-474d-84bd-521aa1cfe92f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2750,
          "y": 1620
        }
      }
  "50":
    id: "50"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "51"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedhosts
      value:
        complex:
          accessor: Logging.Analytics.EndPointHeader.DeviceName
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: cd354ae7-81de-495d-85f5-18732f151b03
      iscommand: false
      name: Set detected Hosts
      script: Set
      type: regular
      version: -1
    taskid: cd354ae7-81de-495d-85f5-18732f151b03
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2180,
          "y": 1920
        }
      }
  "51":
    id: "51"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedips
      value:
        complex:
          accessor: Logging.Analytics.EndPointHeader.AgentIP
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: b6fe6807-3f46-438c-8db5-8ee1b9290465
      iscommand: false
      name: Set detected IPs
      script: Set
      type: regular
      version: -1
    taskid: b6fe6807-3f46-438c-8db5-8ee1b9290465
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2070,
          "y": 2090
        }
      }
  "55":
    id: "55"
    ignoreworker: false
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: c51bc3a2-a3d2-42f3-8e4f-ab64e364e495
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: c51bc3a2-a3d2-42f3-8e4f-ab64e364e495
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3030,
          "y": 2630
        }
      }
  "61":
    id: "61"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "85"
    note: false
    scriptarguments:
      action: {}
      endTime: {}
      fields: {}
      from_zone: {}
      hash: {}
      ip: {}
      limit: {}
      port: {}
      query: {}
      rangeValue: {}
      rule: {}
      startTime: {}
      timeRange: {}
      to_zone: {}
      url:
        complex:
          root: inputs.Domain
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    task:
      brand: ""
      description: Search for the domain in Cortex Threat logs.
      id: b963aae5-4f9b-4859-8415-1abe79b6df6f
      iscommand: true
      name: Search domain in Cortex Threat logs
      script: '|||cortex-query-threat-logs'
      type: regular
      version: -1
    taskid: b963aae5-4f9b-4859-8415-1abe79b6df6f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4700,
          "y": 1665
        }
      }
  "63":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Threat.Users
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Threat.Users
          operator: match
          right:
            value:
              simple: ^((?!\d+\.\d+\.\d+\.\d+).)*$
      label: "yes"
    id: "63"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "65"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Does event contain users?
      id: ebb2d00a-589c-4865-8791-5608c1308d6c
      iscommand: false
      name: Does event contain users?
      type: condition
      version: -1
    taskid: ebb2d00a-589c-4865-8791-5608c1308d6c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4720,
          "y": 2280
        }
      }
  "64":
    id: "64"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedips
      value:
        complex:
          accessor: Logging.Threat.Src
          root: Cortex
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Cortex.Logging.Threat.Dst
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: eded135c-fff0-4139-8ebf-09f703a44359
      iscommand: false
      name: Set detected source and destionation IPs
      script: Set
      type: regular
      version: -1
    taskid: eded135c-fff0-4139-8ebf-09f703a44359
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4720,
          "y": 2100
        }
      }
  "65":
    id: "65"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedusers
      value:
        complex:
          accessor: Logging.Threat.Users
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: ce169488-a826-4099-84b4-d3929b5fd4e1
      iscommand: false
      name: Set detected users
      script: Set
      type: regular
      version: -1
    taskid: ce169488-a826-4099-84b4-d3929b5fd4e1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4350,
          "y": 2450
        }
      }
  "66":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Panorama
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "66"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "140"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Panorama enabled?
      id: 8f36d29e-53a8-40a4-819d-20d9c9dfff34
      iscommand: false
      name: Is Panorama enabled?
      type: condition
      version: -1
    taskid: 8f36d29e-53a8-40a4-819d-20d9c9dfff34
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -5110,
          "y": 1080
        }
      }
  "67":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Panorama
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "67"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "142"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Panorama enabled?
      id: 5ca2f308-313c-4513-8290-bb4d50a3fa00
      iscommand: false
      name: Is Panorama enabled?
      type: condition
      version: -1
    taskid: 5ca2f308-313c-4513-8290-bb4d50a3fa00
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3320,
          "y": 1100
        }
      }
  "68":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: AutoFocus V2
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "68"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "99"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Autofocus enabled?
      id: 5c3e164b-98bf-4b51-808b-7595db30a868
      iscommand: false
      name: Is Autofocus enabled?
      type: condition
      version: -1
    taskid: 5c3e164b-98bf-4b51-808b-7595db30a868
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 670,
          "y": 1090
        }
      }
  "69":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: AutoFocus V2
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "69"
    ignoreworker: false
    nexttasks:
      "yes":
      - "101"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Autofocus enabled?
      id: e6b9ad4d-5029-4465-8ac2-912f0d0cfe9c
      iscommand: false
      name: Is Autofocus enabled?
      type: condition
      version: -1
    taskid: e6b9ad4d-5029-4465-8ac2-912f0d0cfe9c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5220,
          "y": 1270
        }
      }
  "70":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Palo Alto Networks Cortex
        - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Palo Alto Networks Cortex V2
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "70"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "30"
      - "25"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Cortex Data Lake enabled?
      id: 7c07c4aa-f0d0-4b3f-8066-06638dc7dd4d
      iscommand: false
      name: Is Cortex Data Lake enabled?
      type: condition
      version: -1
    taskid: 7c07c4aa-f0d0-4b3f-8066-06638dc7dd4d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2770,
          "y": 1060
        }
      }
  "71":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Palo Alto Networks Cortex
        - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Palo Alto Networks Cortex V2
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "71"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "89"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Cortex Data Lake enabled?
      id: 9e4934f2-8975-4438-8c67-b0a6defae2b3
      iscommand: false
      name: Is Cortex Data Lake enabled?
      type: condition
      version: -1
    taskid: 9e4934f2-8975-4438-8c67-b0a6defae2b3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1130,
          "y": 1080
        }
      }
  "72":
    id: "72"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedips
      value:
        complex:
          accessor: SessionsResults.dst_ip}
          root: ${AutoFocus
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: ${AutoFocus.SessionsResults.src_ip}
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: 61df7fd2-5df9-42cc-8301-b4689e484ddb
      iscommand: false
      name: Set unique detected source and destination IP's
      script: Set
      type: regular
      version: -1
    taskid: 61df7fd2-5df9-42cc-8301-b4689e484ddb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 670,
          "y": 2040
        }
      }
  "73":
    id: "73"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "74"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedhosts
      value:
        complex:
          accessor: Logging.Traps.EndPointHeader.DeviceName
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: a6263d1e-695e-48d7-86b4-b7c67238b9da
      iscommand: false
      name: Set detected Hosts
      script: Set
      type: regular
      version: -1
    taskid: a6263d1e-695e-48d7-86b4-b7c67238b9da
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 1930
        }
      }
  "74":
    id: "74"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "77"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedips
      value:
        complex:
          accessor: Logging.Traps.EndPointHeader.AgentIP
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: 79b9e374-120a-4d4c-8417-57a36004ba65
      iscommand: false
      name: Set detected IPs
      script: Set
      type: regular
      version: -1
    taskid: 79b9e374-120a-4d4c-8417-57a36004ba65
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 2090
        }
      }
  "77":
    id: "77"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "138"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedusers
      value:
        complex:
          accessor: Logging.Traps.EndPointHeader.Username
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: d1a1f34a-171f-4bdd-8786-e58f46083fb6
      iscommand: false
      name: Set detected users
      script: Set
      type: regular
      version: -1
    taskid: d1a1f34a-171f-4bdd-8786-e58f46083fb6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 2250
        }
      }
  "79":
    id: "79"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "139"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedusers
      value:
        complex:
          accessor: Logging.Analytics.EndPointHeader.Username
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: 4f8119a5-987a-4146-8f21-af6cb20eb64c
      iscommand: false
      name: Set detected users
      script: Set
      type: regular
      version: -1
    taskid: 4f8119a5-987a-4146-8f21-af6cb20eb64c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 2260
        }
      }
  "80":
    id: "80"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedusers
      value:
        complex:
          accessor: Logging.Threat.Users
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: c3c61dec-436e-49a3-89a0-1667c1b2b55b
      iscommand: false
      name: Set detected users
      script: Set
      type: regular
      version: -1
    taskid: c3c61dec-436e-49a3-89a0-1667c1b2b55b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2760,
          "y": 2440
        }
      }
  "81":
    id: "81"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedips
      value:
        complex:
          accessor: Monitor.Logs.SourceAddress
          root: Panorama
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Panorama.Monitor.Logs.DestinationAddress
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: 1ca375e6-e10f-4d7b-8ecd-1c10a50940c4
      iscommand: false
      name: Set unique detected source and destination IP's
      script: Set
      type: regular
      version: -1
    taskid: 1ca375e6-e10f-4d7b-8ecd-1c10a50940c4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -600,
          "y": 2280
        }
      }
  "82":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Monitor.Logs.DestinationAddress
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: Panorama.Monitor.Logs.DestinationAddress
                    operator: isNotEmpty
                  - left:
                      iscontext: true
                      value:
                        simple: Panorama.Monitor.Logs.SourceAddress
                    operator: isNotEmpty
                root: Panorama
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: Panorama.Monitor.Logs.DestinationAddress
                  operator: append
                - operator: uniq
          operator: isNotEmpty
      label: "yes"
    id: "82"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "81"
      - "95"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the hash detected by Panorama Wildfire?
      id: 451306d0-c373-4707-80a9-c3be35f72671
      iscommand: false
      name: Is hash detected by Panorama Wildfire?
      type: condition
      version: -1
    taskid: 451306d0-c373-4707-80a9-c3be35f72671
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -390,
          "y": 2005
        }
      }
  "83":
    id: "83"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedips
      value:
        complex:
          accessor: SessionsResults.dst_ip}
          root: ${AutoFocus
          transformers:
          - args:
              item:
                value:
                  simple: ${AutoFocus.SessionsResults.src_ip}
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: 302fb615-03f7-4b7c-8346-42912cbf8690
      iscommand: false
      name: Set detected source and destination IP's
      script: Set
      type: regular
      version: -1
    taskid: 302fb615-03f7-4b7c-8346-42912cbf8690
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5320,
          "y": 2440
        }
      }
  "84":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: AutoFocus.SessionsResults.dst_ip
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: AutoFocus.SessionsResults.src_ip
          operator: isNotEmpty
      label: "yes"
    id: "84"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "83"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Are there related sessions in Autofocus?
      id: 3c25c2f6-a438-4a4c-8f98-d582cd7a1f21
      iscommand: false
      name: Are there related sessions in Autofocus?
      type: condition
      version: -1
    taskid: 3c25c2f6-a438-4a4c-8f98-d582cd7a1f21
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5220,
          "y": 1995
        }
      }
  "85":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Threat
          operator: isNotEmpty
      label: "yes"
    id: "85"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "64"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the domain detected by Cortex Threat logs?
      id: 3e151189-482a-4af0-8e9c-86393e545b72
      iscommand: false
      name: Is domain detected by Cortex Threat logs?
      type: condition
      version: -1
    taskid: 3e151189-482a-4af0-8e9c-86393e545b72
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4530,
          "y": 1865
        }
      }
  "86":
    id: "86"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedips
      value:
        complex:
          accessor: SessionsResults.dst_ip}
          root: ${AutoFocus
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: ${AutoFocus.SessionsResults.src_ip}
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: bf85e6bb-e6b6-41a7-8916-f360c884e728
      iscommand: false
      name: Set detected source and destination IPs
      script: Set
      type: regular
      version: -1
    taskid: bf85e6bb-e6b6-41a7-8916-f360c884e728
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1200,
          "y": 2090
        }
      }
  "89":
    id: "89"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "39"
      - "40"
      - "47"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Cortex Hash Searches
      id: 702217f7-18d1-43f9-8b9e-1126880fc96c
      iscommand: false
      name: Cortex Hash Searches
      type: title
      version: -1
    taskid: 702217f7-18d1-43f9-8b9e-1126880fc96c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 1300
        }
      }
  "90":
    id: "90"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Cortex IP searches
      id: ecf9effb-d4fe-41e9-87df-21e1d1b41143
      iscommand: false
      name: Cortex IP searches
      type: title
      version: -1
    taskid: ecf9effb-d4fe-41e9-87df-21e1d1b41143
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2770,
          "y": 910
        }
      }
  "92":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Palo Alto Networks Cortex
        - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Palo Alto Networks Cortex V2
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "92"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "61"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Cortex Data Lake enabled?
      id: 280680d9-fdbe-438a-8a76-59ddcbc7f22c
      iscommand: false
      name: Is Cortex Data Lake enabled?
      type: condition
      version: -1
    taskid: 280680d9-fdbe-438a-8a76-59ddcbc7f22c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4660,
          "y": 1355
        }
      }
  "93":
    id: "93"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: 99bd8837-39bf-484e-867d-d55a6dce53e0
      iscommand: false
      name: Cortex domain search
      type: title
      version: -1
    taskid: 99bd8837-39bf-484e-867d-d55a6dce53e0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4660,
          "y": 965
        }
      }
  "94":
    id: "94"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "98"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedips
      value:
        complex:
          accessor: Logging.Threat.Src
          root: Cortex
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Cortex.Logging.Threat.Dst
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: 18c2b8b4-3430-4231-8cf9-554f40479f77
      iscommand: false
      name: Set detected source and destination IPs
      script: Set
      type: regular
      version: -1
    taskid: 18c2b8b4-3430-4231-8cf9-554f40479f77
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2750,
          "y": 1970
        }
      }
  "95":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Panorama.Monitor.Logs.SourceUser
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: Panorama.Monitor.Logs.DestinationUser
          operator: isNotEmpty
      label: "yes"
    id: "95"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "97"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Does event contain users?
      id: 1fa957ae-5f41-4e95-8092-a7f00619f101
      iscommand: false
      name: Does event contain users?
      type: condition
      version: -1
    taskid: 1fa957ae-5f41-4e95-8092-a7f00619f101
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 110,
          "y": 2230
        }
      }
  "96":
    id: "96"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: PAN-OS hash search
      id: 8f850785-2523-4821-8a1c-0e8a9e66a266
      iscommand: false
      name: PAN-OS hash search
      type: title
      version: -1
    taskid: 8f850785-2523-4821-8a1c-0e8a9e66a266
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -190,
          "y": 965
        }
      }
  "97":
    id: "97"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedusers
      value:
        complex:
          accessor: Monitor.Logs.DestinationUser
          root: Panorama
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Panorama.Monitor.Logs.SourceUser
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: 0590dd67-b16f-4a9a-897b-446160b4ecae
      iscommand: false
      name: Set detected users
      script: Set
      type: regular
      version: -1
    taskid: 0590dd67-b16f-4a9a-897b-446160b4ecae
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -100,
          "y": 2430
        }
      }
  "98":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Threat.Users
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Threat.Users
          operator: match
          right:
            value:
              simple: ^((?!\d+\.\d+\.\d+\.\d+).)*$
      label: "yes"
    id: "98"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "80"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Does event contain users?
      id: 2e0d13ee-5734-4f79-8ca1-08f546dd5a40
      iscommand: false
      name: Does event contain users?
      type: condition
      version: -1
    taskid: 2e0d13ee-5734-4f79-8ca1-08f546dd5a40
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2520,
          "y": 2220
        }
      }
  "99":
    id: "99"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    scriptarguments:
      Commodity: {}
      Domain: {}
      Hash:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: toUpperCase
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      IP: {}
      Sample first seen: {}
      Sample last modified: {}
      SampleQuery: {}
      Scope: {}
      Search Type:
        simple: session
      SessionQuery: {}
      Sessions time after: {}
      Sessions time before: {}
      Tags class: {}
      Tags private: {}
      Tags public: {}
      Tags scope: {}
      URL: {}
      Unit 42: {}
      Wildfire Verdict: {}
    separatecontext: true
    task:
      brand: ""
      description: |-
        This playbook is used for querying the PANW threat intelligence Autofocus system. The playbook accepts indicators such as IP's, hashes, and domains to run queries that can leverage
        several query parameters. To run the more advanced queries, its recommended to use the Autofocus UI https://autofocus.paloaltonetworks.com/#/dashboard/organization to create a query,
        and use the export search button. The result can be used as a playbook input.

        The playbook supports searching both the Samples API and the sessions API.
      id: c537fc45-5e32-4933-8e7a-bd8f11b78b77
      iscommand: false
      name: Autofocus Query Samples, Sessions and Tags
      playbookId: Autofocus Query Samples, Sessions and Tags
      type: playbook
      version: -1
    taskid: c537fc45-5e32-4933-8e7a-bd8f11b78b77
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 670,
          "y": 1440
        }
      }
  "100":
    id: "100"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "21"
    note: false
    scriptarguments:
      Commodity: {}
      Domain: {}
      Hash: {}
      IP:
        complex:
          root: inputs.IP addresses
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      Sample first seen: {}
      Sample last modified: {}
      SampleQuery: {}
      Scope: {}
      Search Type:
        simple: session
      SessionQuery: {}
      Sessions time after: {}
      Sessions time before: {}
      Tags class: {}
      Tags private: {}
      Tags public: {}
      Tags scope: {}
      URL: {}
      Unit 42: {}
      Wildfire Verdict: {}
    separatecontext: true
    task:
      brand: ""
      description: |-
        This playbook is used for querying the PANW threat intelligence Autofocus system. The playbook accepts indicators such as IP's, hashes, and domains to run queries that can leverage
        several query parameters. To run the more advanced queries, its recommended to use the Autofocus UI https://autofocus.paloaltonetworks.com/#/dashboard/organization to create a query,
        and use the export search button. The result can be used as a playbook input.

        The playbook supports searching both the Samples API and the sessions API.
      id: ba675c58-ac65-4301-8335-c618d772b2d6
      iscommand: false
      name: Autofocus Query Samples, Sessions and Tags
      playbookId: Autofocus Query Samples, Sessions and Tags
      type: playbook
      version: -1
    taskid: ba675c58-ac65-4301-8335-c618d772b2d6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1730,
          "y": 1485
        }
      }
  "101":
    id: "101"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "84"
    note: false
    scriptarguments:
      Commodity: {}
      Domain: {}
      Hash: {}
      IP: {}
      Sample first seen: {}
      Sample last modified: {}
      SampleQuery: {}
      Scope: {}
      Search Type:
        simple: session
      SessionQuery: {}
      Sessions time after: {}
      Sessions time before: {}
      Tags class: {}
      Tags private: {}
      Tags public: {}
      Tags scope: {}
      URL:
        complex:
          root: inputs.Domain
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      Unit 42: {}
      Wildfire Verdict: {}
    separatecontext: true
    task:
      brand: ""
      description: |-
        This playbook is used for querying the PANW threat intelligence Autofocus system. The playbook accepts indicators such as IP's, hashes, and domains to run queries that can leverage
        several query parameters. To run the more advanced queries, its recommended to use the Autofocus UI https://autofocus.paloaltonetworks.com/#/dashboard/organization to create a query,
        and use the export search button. The result can be used as a playbook input.

        The playbook supports searching both the Samples API and the sessions API.
      id: 29703915-0ba4-4ae1-8dc3-f4a73d16b68f
      iscommand: false
      name: Autofocus Query Samples, Sessions and Tags
      playbookId: Autofocus Query Samples, Sessions and Tags
      type: playbook
      version: -1
    taskid: 29703915-0ba4-4ae1-8dc3-f4a73d16b68f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 5220,
          "y": 1665
        }
      }
  "104":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Monitor.Logs.DestinationAddress
                root: Panorama
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                accessor: Monitor.Logs.SourceAddress
                root: Panorama
          operator: isNotEmpty
      label: "yes"
    id: "104"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "105"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Are there relevant IP's
      id: 19ae133c-58b4-48bf-8c61-04c79365b6d6
      iscommand: false
      name: Are there relevant IP's
      type: condition
      version: -1
    taskid: 19ae133c-58b4-48bf-8c61-04c79365b6d6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3460,
          "y": 1570
        }
      }
  "105":
    id: "105"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "55"
      - "106"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedips
      value:
        complex:
          accessor: Monitor.Logs.DestinationAddress
          root: Panorama
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Panorama.Monitor.Logs.SourceAddress
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: 2a7acc60-cdb0-4dce-8dbc-5b247f093f9b
      iscommand: false
      name: Set unique detected source and destination IP's
      script: Set
      type: regular
      version: -1
    taskid: 2a7acc60-cdb0-4dce-8dbc-5b247f093f9b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3460,
          "y": 1930
        }
      }
  "106":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Panorama.Monitor.Logs.SourceUser
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: Panorama.Monitor.Logs.DestinationUser
          operator: isNotEmpty
      label: "yes"
    id: "106"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "107"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Does event contain users?
      id: 6c96f688-05c4-4f6e-8499-e90f38734294
      iscommand: false
      name: Does event contain users?
      type: condition
      version: -1
    taskid: 6c96f688-05c4-4f6e-8499-e90f38734294
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3380,
          "y": 2240
        }
      }
  "107":
    id: "107"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedusers
      value:
        complex:
          accessor: Monitor.Logs.DestinationUser
          root: Panorama
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Panorama.Monitor.Logs.SourceUser
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: 07785f59-947f-4c31-8086-5b199507a953
      iscommand: false
      name: Set detected users
      script: Set
      type: regular
      version: -1
    taskid: 07785f59-947f-4c31-8086-5b199507a953
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3380,
          "y": 2440
        }
      }
  "108":
    id: "108"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "68"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: bf03de85-aaf8-41d4-81f7-7f5ca5814ee0
      iscommand: false
      name: Autofocus hash search
      type: title
      version: -1
    taskid: bf03de85-aaf8-41d4-81f7-7f5ca5814ee0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 670,
          "y": 965
        }
      }
  "109":
    id: "109"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "71"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: c35b5e37-813f-472e-8ec8-ee41b091b463
      iscommand: false
      name: Cortex hash search
      type: title
      version: -1
    taskid: c35b5e37-813f-472e-8ec8-ee41b091b463
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1130,
          "y": 965
        }
      }
  "110":
    id: "110"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "69"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: 6d241144-3dc7-40c1-8b2d-f01d3bb9c9aa
      iscommand: false
      name: Autofocus domain search
      type: title
      version: -1
    taskid: 6d241144-3dc7-40c1-8b2d-f01d3bb9c9aa
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 5220,
          "y": 965
        }
      }
  "111":
    id: "111"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "67"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: 3d88479c-bc21-4821-812a-d9d3027ea6d6
      iscommand: false
      name: PAN-OS domain/url search
      type: title
      version: -1
    taskid: 3d88479c-bc21-4821-812a-d9d3027ea6d6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3320,
          "y": 965
        }
      }
  "112":
    id: "112"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: 346194fe-e8bb-4833-8388-75cc8d787238
      iscommand: false
      name: Autofocus IP seach
      type: title
      version: -1
    taskid: 346194fe-e8bb-4833-8388-75cc8d787238
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1730,
          "y": 910
        }
      }
  "113":
    id: "113"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: 80c54910-0a39-49c2-882a-0ffa04b79371
      iscommand: false
      name: PAN-OS IP search
      type: title
      version: -1
    taskid: 80c54910-0a39-49c2-882a-0ffa04b79371
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -4750,
          "y": 910
        }
      }
  "129":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Monitor.Logs.DestinationAddress
                root: Panorama
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                accessor: Monitor.Logs.SourceAddress
                root: Panorama
          operator: isNotEmpty
      label: "yes"
    id: "129"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "136"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Are there relevant IP's
      id: d3c3d52d-8ab8-4f02-8104-44b7eef26cd9
      iscommand: false
      name: Are there relevant IP's
      type: condition
      version: -1
    taskid: d3c3d52d-8ab8-4f02-8104-44b7eef26cd9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -5110,
          "y": 1650
        }
      }
  "131":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Panorama.Monitor.Logs.SourceUser
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: Panorama.Monitor.Logs.DestinationUser
          operator: isNotEmpty
      label: "yes"
    id: "131"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "132"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Does event contain users?
      id: 4b31ae24-edd5-49e5-8339-c6db918212e3
      iscommand: false
      name: Does event contain users?
      type: condition
      version: -1
    taskid: 4b31ae24-edd5-49e5-8339-c6db918212e3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -5220,
          "y": 2145
        }
      }
  "132":
    id: "132"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedusers
      value:
        complex:
          accessor: Monitor.Logs.DestinationUser
          root: Panorama
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Panorama.Monitor.Logs.SourceUser
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: 6773a849-1162-4ab5-8fae-9cf08a717bf2
      iscommand: false
      name: Set detected users
      script: Set
      type: regular
      version: -1
    taskid: 6773a849-1162-4ab5-8fae-9cf08a717bf2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -5500,
          "y": 2420
        }
      }
  "136":
    id: "136"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "131"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detectedips
      value:
        complex:
          accessor: Monitor.Logs.SourceAddress
          root: Panorama
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Panorama.Monitor.Logs.DestinationAddress
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: 82db6939-9aed-4b43-8fe8-989893e78216
      iscommand: false
      name: Set unique detected source and destination IP's
      script: Set
      type: regular
      version: -1
    taskid: 82db6939-9aed-4b43-8fe8-989893e78216
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -5220,
          "y": 1930
        }
      }
  "138":
    id: "138"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: trapsid
      value:
        complex:
          accessor: Logging.Traps.AgentID
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: 768fad10-66da-4887-8c1c-8c3bb2a3e3ce
      iscommand: false
      name: Set Traps id
      script: Set
      type: regular
      version: -1
    taskid: 768fad10-66da-4887-8c1c-8c3bb2a3e3ce
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1120,
          "y": 2420
        }
      }
  "139":
    id: "139"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: trapsid
      value:
        complex:
          accessor: Logging.Analytics.AgentID
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: 571ea8fc-2f3d-402e-8050-fc59f76013a1
      iscommand: false
      name: Set Traps id
      script: Set
      type: regular
      version: -1
    taskid: 571ea8fc-2f3d-402e-8050-fc59f76013a1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1670,
          "y": 2430
        }
      }
  "140":
    id: "140"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "129"
    note: false
    scriptarguments:
      filedigest: {}
      ip:
        complex:
          root: inputs.IP addresses
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      url: {}
    separatecontext: true
    task:
      brand: ""
      description: PAN-OS Query Logs for Indicators
      id: 2f402f5e-2e01-4a7f-8013-ec3a416c4ef6
      iscommand: false
      name: PAN-OS Query Logs For Indicators
      playbookId: PAN-OS Query Logs For Indicators
      type: playbook
      version: -1
    taskid: 2f402f5e-2e01-4a7f-8013-ec3a416c4ef6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -5110,
          "y": 1425
        }
      }
  "141":
    id: "141"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "82"
    note: false
    scriptarguments:
      filedigest:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      ip: {}
      url: {}
    separatecontext: true
    task:
      brand: ""
      description: 'Query PAN-OS Logs of different types in one playbook: traffic,
        threat, url, data-filtering and wildfire. The playbook accepts inputs such
        as IP. hash, url.'
      id: 0032ebec-4df5-4623-8832-02cc511a16b6
      iscommand: false
      name: PAN-OS Query Logs For Indicators
      playbookId: PAN-OS Query Logs For Indicators
      type: playbook
      version: -1
    taskid: 0032ebec-4df5-4623-8832-02cc511a16b6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -390,
          "y": 1745
        }
      }
  "142":
    id: "142"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "104"
    note: false
    scriptarguments:
      filedigest: {}
      ip: {}
      url:
        complex:
          root: inputs.Domain
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: true
    task:
      brand: ""
      description: PAN-OS Query Logs For Indicators
      id: 78f70966-8fe8-4eb4-834b-0f910bc21458
      iscommand: false
      name: PAN-OS Query Logs For Indicators
      playbookId: PAN-OS Query Logs For Indicators
      type: playbook
      version: -1
    taskid: 78f70966-8fe8-4eb4-834b-0f910bc21458
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3460,
          "y": 1380
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "106_55_#default#": 0.86,
      "10_55_#default#": 0.82,
      "26_23_#default#": 0.81,
      "28_23_#default#": 0.82,
      "3_4_#default#": 0.82,
      "43_4_#default#": 0.61,
      "45_4_#default#": 0.6,
      "46_4_#default#": 0.52,
      "48_4_#default#": 0.8,
      "5_23_#default#": 0.79,
      "82_4_#default#": 0.87,
      "84_55_#default#": 0.81,
      "92_55_#default#": 0.79
    },
    "paper": {
      "dimensions": {
        "height": 2725,
        "width": 11200,
        "x": -5500,
        "y": 0
      }
    }
  }
