playbook-Block_IP_-_Generic_v2.yml
description: |-
  This playbook blocks malicious IPs using all integrations that are enabled.

  Supported integrations for this playbook:
  * Check Point Firewall
  * Palo Alto Networks Minemeld
  * Palo Alto Networks PAN-OS
  * Zscaler
id: Block IP - Generic v2
inputs:
- description: The name of the IP blacklist Miner in  Minemeld.
  key: IPBlacklistMiner
  required: false
  value: {}
- description: Array of malicious IPs to block.
  key: IP
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Custom Block Rules are used.
    Specify True to use Custom Block Rules.
  key: CustomBlockRule
  required: false
  value:
    simple: "True"
- description: Panorama log forwarding object name.
  key: LogForwarding
  required: false
  value: {}
- description: |-
    This input determines whether to commit the configuration automatically.
    Yes - Commit automatically.
    No - Commit manually.
  key: AutoCommit
  required: false
  value:
    simple: "No"
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Static Address Groups are used.
    Specify the Static Address Group name for IP handling.
  key: StaticAddressGroup
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall External Dynamic Lists are used for blocking IPs.
    Specify the EDL name for IP handling.
  key: IPListName
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall External Dynamic Lists are used:
    * The IP address of the web server on which the files are stored.
    * The web server IP address is configured in the integration instance.
  key: EDLServerIP
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Dynamic Address Groups are used.
    Specify the Dynamic Address Group tag name for IP handling.
  key: DAG
  required: false
  value: {}
name: Block IP - Generic v2
outputs:
- contextPath: CheckpointFWRule.Destination
  description: Rule Destination.
- contextPath: CheckpointFWRule.DestinationNegate
  description: Rule destination negate status (True/False).
- contextPath: PanoramaRule.Direction
  description: Direction of the Panorama rule. Can be 'to','from', 'both'
  type: string
- contextPath: PanoramaRule.IP
  description: The IP the Panorama rule blocks
  type: string
- contextPath: CheckpointFWRule.Name
  description: Rule name.
- contextPath: PanoramaRule.Name
  description: Name of the Panorama rule
  type: string
- contextPath: CheckpointFWRule.UID
  description: Rule UID.
- contextPath: PanoramaRule
  description: List of Panorama rules
- contextPath: CheckpointFWRule.Type
  description: Rule Type.
- contextPath: CheckpointFWRule.Action
  description: 'Rule action (Valid values are: Accept, Drop, Apply Layer, Ask, Info).'
- contextPath: CheckpointFWRule.ActionSetting
  description: Rule action settings.
- contextPath: CheckpointFWRule.CustomFields
  description: Rule custom fields.
- contextPath: CheckpointFWRule.Data
  description: Rule data.
- contextPath: CheckpointFWRule.DataDirection
  description: Rule data direction.
- contextPath: CheckpointFWRule.DataNegate
  description: Rule data negate status (True/False).
- contextPath: CheckpointFWRule.Domain
  description: Rule domain.
- contextPath: CheckpointFWRule.Enabled
  description: Rule status.
- contextPath: CheckpointFWRule.Hits
  description: Rule hits count.
- contextPath: CheckpointFWRule.Data.Name
  description: Rule data object name.
- contextPath: CheckpointFWRule.Data.Domain
  description: Information about the domain the data object belongs to.
- contextPath: CheckpointFWRule.Domain.Name
  description: Rule domain name.
- contextPath: CheckpointFWRule.Domain.UID
  description: Rule domain UID.
- contextPath: CheckpointFWRule.Domain.Type
  description: Rule domain type.
- contextPath: CheckpointFWRule.Hits.FirstDate
  description: The date of the first hit for the rule.
- contextPath: CheckpointFWRule.Hits.LastDate
  description: The date of the last hit for the rule.
- contextPath: CheckpointFWRule.Hits.Level
  description: Level of rule hits.
- contextPath: CheckpointFWRule.Hits.Percentage
  description: Percentage of rule hits.
- contextPath: CheckpointFWRule.Hits.Value
  description: Value of rule hits.
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: b95110b7-ba18-42a5-87ad-c5d37915401c
      iscommand: false
      name: ""
      version: -1
    taskid: b95110b7-ba18-42a5-87ad-c5d37915401c
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 500,
          "y": 10
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 1808d949-f921-4957-8796-7bbedd822ad9
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 1808d949-f921-4957-8796-7bbedd822ad9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 500,
          "y": 1020
        }
      }
  "5":
    id: "5"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "17"
      - "18"
      - "19"
      - "20"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: cea4b9a9-d2a5-42c6-84e7-7eab6d6ab7a8
      iscommand: false
      name: Block IPs
      type: title
      version: -1
    taskid: cea4b9a9-d2a5-42c6-84e7-7eab6d6ab7a8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 500,
          "y": 370
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    scriptarguments:
      direction:
        simple: both
      ip:
        complex:
          root: inputs.IP
      ipname:
        simple: IP-${inputs.IP}
      rulename:
        simple: Block-${inputs.IP}
    separatecontext: false
    task:
      brand: ""
      description: Block the IPs using Check Point Firewall
      id: 077714b6-f53e-4ab4-8679-d2c172e67a59
      iscommand: true
      name: Block IP with Check Point Firewall
      script: '|||checkpoint-block-ip'
      type: regular
      version: -1
    taskid: 077714b6-f53e-4ab4-8679-d2c172e67a59
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 980,
          "y": 850
        }
      }
  "7":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Check Point
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: Active
                root: modules
          operator: isExists
      label: "yes"
    id: "7"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "6"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Verify that there is a valid instance of Check Point Firewall enabled.
      id: cc26e2d3-b22c-4e90-819e-5a1dc485c2db
      iscommand: false
      name: Is Check Point Firewall enabled?
      type: condition
      version: -1
    taskid: cc26e2d3-b22c-4e90-819e-5a1dc485c2db
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 980,
          "y": 660
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.IP
          operator: isExists
      label: "yes"
    id: "8"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "5"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Verify that the playbook input includes at least one IP to block.
      id: 3f8eeba3-99f9-484c-8f73-a0c6d9bd02bb
      iscommand: false
      name: Is there an IP to block?
      type: condition
      version: -1
    taskid: 3f8eeba3-99f9-484c-8f73-a0c6d9bd02bb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 500,
          "y": 155
        }
      }
  "11":
    id: "11"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    scriptarguments:
      Indicator:
        complex:
          root: inputs.IP
      MinerName:
        complex:
          root: inputs.IPBlacklistMiner
    separatecontext: true
    task:
      brand: ""
      id: dbee1e60-454a-4043-8676-7f5bb3006b00
      iscommand: false
      name: Add Indicator to Miner - Minemeld
      playbookId: add_indicator_to_miner_-_palo_alto_mineMeld
      type: playbook
      version: -1
    taskid: dbee1e60-454a-4043-8676-7f5bb3006b00
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 500,
          "y": 660
        }
      }
  "12":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Zscaler
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    id: "12"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "13"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Verify that there is a valid instance of Zscaler enabled.
      id: 43617e2e-a00d-4569-8d43-80b6e732798e
      iscommand: false
      name: Is Zscaler enabled?
      type: condition
      version: -1
    taskid: 43617e2e-a00d-4569-8d43-80b6e732798e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1470,
          "y": 660
        }
      }
  "13":
    id: "13"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    scriptarguments:
      ip:
        complex:
          root: inputs.IP
    separatecontext: false
    task:
      brand: Zscaler
      description: Block the IPs using Zscaler.
      id: 6c6d1f99-8689-49d7-8c7c-f9ddcdd2a782
      iscommand: true
      name: Block IP with Zscaler
      script: Zscaler|||zscaler-blacklist-ip
      type: regular
      version: -1
    taskid: 6c6d1f99-8689-49d7-8c7c-f9ddcdd2a782
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1470,
          "y": 850
        }
      }
  "14":
    id: "14"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    scriptarguments:
      AutoCommit:
        complex:
          root: inputs.AutoCommit
      IP:
        complex:
          root: inputs.IP
          transformers:
          - operator: uniq
      LogForwarding:
        complex:
          root: inputs.LogForwarding
    separatecontext: true
    task:
      brand: ""
      id: 161ff68a-c259-4e8c-8d24-965fe952c1d2
      iscommand: false
      name: PAN-OS - Block IP - Custom Block Rule
      playbookId: PAN-OS - Block IP - Custom Block Rule
      type: playbook
      version: -1
    taskid: 161ff68a-c259-4e8c-8d24-965fe952c1d2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 80,
          "y": 850
        }
      }
  "15":
    id: "15"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    scriptarguments:
      AddressGroupName:
        complex:
          root: inputs.StaticAddressGroup
      AutoCommit:
        complex:
          root: inputs.AutoCommit
      IP:
        complex:
          root: inputs.IP
          transformers:
          - operator: uniq
      LogForwarding:
        complex:
          root: inputs.LogForwarding
    separatecontext: true
    task:
      brand: ""
      id: dcbbc272-0463-4e4c-81ba-ed176e92d04c
      iscommand: false
      name: PAN-OS - Block IP - Static Address Group
      playbookId: PAN-OS - Block IP - Static Address Group
      type: playbook
      version: -1
    taskid: dcbbc272-0463-4e4c-81ba-ed176e92d04c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -330,
          "y": 850
        }
      }
  "16":
    id: "16"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    scriptarguments:
      AutoCommit:
        complex:
          root: inputs.AutoCommit
      EDLServerIP:
        complex:
          root: inputs.EDLServerIP
      IP:
        complex:
          root: inputs.IP
          transformers:
          - operator: uniq
      IPListName:
        complex:
          root: inputs.IPListName
      LogForwarding:
        complex:
          root: inputs.LogForwarding
      URL: {}
      URLListName: {}
    separatecontext: true
    task:
      brand: ""
      id: 6843cc6b-0460-4f91-8ad4-7925fb5f817a
      iscommand: false
      name: PAN-OS - Block IP and URL - External Dynamic List
      playbookId: PAN-OS - Block IP and URL - External Dynamic List
      type: playbook
      version: -1
    taskid: 6843cc6b-0460-4f91-8ad4-7925fb5f817a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -760,
          "y": 850
        }
      }
  "17":
    id: "17"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "22"
      - "23"
      - "24"
      - "25"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 901eaceb-8b70-4afa-81b8-cb26eb624fd2
      iscommand: false
      name: PAN-OS
      type: title
      version: -1
    taskid: 901eaceb-8b70-4afa-81b8-cb26eb624fd2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -550,
          "y": 510
        }
      }
  "18":
    id: "18"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: eaa34a69-51d5-4309-851e-cec547062d7e
      iscommand: false
      name: CheckPoint FW
      type: title
      version: -1
    taskid: eaa34a69-51d5-4309-851e-cec547062d7e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 980,
          "y": 515
        }
      }
  "19":
    id: "19"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 5ef9b8f5-62a4-415c-896d-a739062d19ad
      iscommand: false
      name: MineMeld
      type: title
      version: -1
    taskid: 5ef9b8f5-62a4-415c-896d-a739062d19ad
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 500,
          "y": 515
        }
      }
  "20":
    id: "20"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: c35db5b5-164d-466d-825c-144a961f4f9c
      iscommand: false
      name: Zscaler
      type: title
      version: -1
    taskid: c35db5b5-164d-466d-825c-144a961f4f9c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1470,
          "y": 515
        }
      }
  "21":
    id: "21"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    scriptarguments:
      action-type:
        simple: drop
      address_group_name:
        simple: Demisto - Remediation IP Address Group
      auto_commit:
        complex:
          root: inputs.AutoCommit
      device-group: {}
      inbound-or-outbound-rule:
        simple: outbound
      ip_list:
        complex:
          root: inputs.IP
      log-forwarding-object-name:
        complex:
          root: inputs.LogForwarding
      pre-post-rulebase:
        simple: pre-rulebase
      relative-rule-name: {}
      rule-position:
        simple: before
      rule_name:
        simple: Demisto Block Rule - ${incident.id}
      tag_name:
        complex:
          root: inputs.DAG
    separatecontext: true
    task:
      brand: ""
      id: be4682fc-8d29-42a2-8de6-6f31f277e4d9
      iscommand: false
      name: PAN-OS DAG Configuration
      playbookId: PAN-OS DAG Configuration
      type: playbook
      version: -1
    taskid: be4682fc-8d29-42a2-8de6-6f31f277e4d9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1180,
          "y": 850
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.CustomBlockRule
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    id: "22"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "14"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: c3a30091-7a2f-405a-808c-c1553a264cb4
      iscommand: false
      name: Use Custom Block Rules?
      type: condition
      version: -1
    taskid: c3a30091-7a2f-405a-808c-c1553a264cb4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 80,
          "y": 650
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.StaticAddressGroup
          operator: isNotEmpty
      label: "yes"
    id: "23"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "15"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: f62443fb-69ea-4a5d-8c10-f3dd19a1cdc8
      iscommand: false
      name: Use Static Address Group?
      type: condition
      version: -1
    taskid: f62443fb-69ea-4a5d-8c10-f3dd19a1cdc8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -330,
          "y": 650
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IPListName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.EDLServerIP
          operator: isNotEmpty
      label: "yes"
    id: "24"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "16"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 5358db30-716f-46d9-86d5-bd22d496c93c
      iscommand: false
      name: Use External Dynamic List?
      type: condition
      version: -1
    taskid: 5358db30-716f-46d9-86d5-bd22d496c93c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -760,
          "y": 650
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.DAG
          operator: isNotEmpty
      label: "yes"
    id: "25"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "21"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 07323c54-1759-454b-89c5-09ae35d4e86d
      iscommand: false
      name: Use Dynamic Address Group?
      type: condition
      version: -1
    taskid: 07323c54-1759-454b-89c5-09ae35d4e86d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1180,
          "y": 650
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "12_2_#default#": 0.23,
      "22_2_#default#": 0.22,
      "23_2_#default#": 0.11,
      "24_2_#default#": 0.1,
      "25_2_#default#": 0.1,
      "7_2_#default#": 0.39,
      "8_2_#default#": 0.48
    },
    "paper": {
      "dimensions": {
        "height": 1075,
        "width": 3030,
        "x": -1180,
        "y": 10
      }
    }
  }
