playbook-PANW_-_Hunting_and_threat_detection_by_indicator_type_V2.yml
description: "Integrations list: Cortex (Traps, PAN-OS, Analytics)\nThis is a multipurpose
  playbook used for hunting and threat detection. The playbook receives inputs based
  on hashes, IP addresses, or domain names provided manually or from outputs by other
  playbooks. \nWith the received indicators, the playbook leverages Palo Alto Cortex
  data received by products such as Traps, Analytics and Pan-OS to search for IP addresses
  and hosts related to that specific hash. \nThe output provided by the playbook facilitates
  pivoting searches for possibly affected hosts, IP addresses, or users."
id: PANW - Hunting and threat detection by indicator type V2
inputs:
- description: SHA256 hash for indicator to hunt.
  key: SHA256
  required: false
  value: {}
- description: MD5 hash for indicator to hunt.
  key: MD5
  required: false
  value: {}
- description: SHA1 hash for indicator to hunt.
  key: SHA1
  required: false
  value: {}
- description: List of IP addresses.
  key: IPAddresses
  required: false
  value: {}
- description: List of domains or urls.
  key: URLDomain
  required: false
  value: {}
- description: 'A list of internal IP ranges to check IP addresses against. The list
    should be provided in CIDR notation, separated by commas. An example of a list
    of ranges would be: "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes).
    If a list is not provided, will use default list provided in the IsIPInRanges
    script (the known IPv4 private address ranges).'
  key: InternalRange
  required: false
  value: {}
name: PANW - Hunting and threat detection by indicator type V2
outputs:
- contextPath: PANWHunting.DetectedUsers
  description: User or array of users that were detected during hunting.
  type: string
- contextPath: PANWHunting.TrapsId
  description: Id or array of id's for traps hosts detected in the searches.
  type: string
- contextPath: PANWHunting.DetectedInternalIPs
  description: Internal IP addresses detected based on fields and inputs in your search.
  type: string
- contextPath: PANWHunting.DetectedExternalIPs
  description: External IP addresses detected based on fields and inputs in your search.
  type: string
- contextPath: PANWHunting.DetectedInternalHosts
  description: Internal host names detected based on fields and inputs in your search.
  type: string
- contextPath: PANWHunting.DetectedExternalHosts
  description: External host names detected based on fields and inputs in your search.
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
      - "5"
      - "10"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: efd174b1-c3ae-48ce-8d14-52e397954612
      iscommand: false
      name: ""
      version: -1
    taskid: efd174b1-c3ae-48ce-8d14-52e397954612
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 920,
          "y": 0
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "96"
      - "108"
      - "109"
    note: false
    scriptarguments:
      MD5:
        complex:
          root: inputs.MD5
      SHA1:
        complex:
          root: inputs.SHA1
      SHA256:
        complex:
          root: inputs.SHA256
    separatecontext: true
    task:
      brand: ""
      id: 4fd04e78-7273-4c82-89a7-fbee29694195
      iscommand: false
      name: Convert file hash to corresponding hashes
      playbookId: Convert file hash to corresponding hashes
      type: playbook
      version: -1
    taskid: 4fd04e78-7273-4c82-89a7-fbee29694195
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 670,
          "y": 780
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.SHA256
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: inputs.MD5
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: inputs.SHA1
          operator: isNotEmpty
      label: "yes"
    id: "3"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "2"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: e9e3c480-3070-4f6b-870c-840f29c66708
      iscommand: false
      name: Is there a hash?
      type: condition
      version: -1
    taskid: e9e3c480-3070-4f6b-870c-840f29c66708
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 920,
          "y": 370
        }
      }
  "4":
    id: "4"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "153"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 731d19be-18c2-4a11-81c6-409d8e59a631
      iscommand: false
      name: Hash hunting done
      type: title
      version: -1
    taskid: 731d19be-18c2-4a11-81c6-409d8e59a631
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 890,
          "y": 2660
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.IPAddresses
          operator: isNotEmpty
      label: "yes"
    id: "5"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "112"
      - "90"
      - "113"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Hedaer
      id: 4b82d0f8-dd5f-43cc-8168-60d0f45add20
      iscommand: false
      name: Is there an ip?
      type: condition
      version: -1
    taskid: 4b82d0f8-dd5f-43cc-8168-60d0f45add20
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -940,
          "y": 370
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.URLDomain
          operator: isNotEmpty
      label: "yes"
    id: "10"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "111"
      - "93"
      - "110"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is there an domain/url?
      id: 62cfbf13-0d5f-4aaa-8db7-43920fbb0127
      iscommand: false
      name: Is there a domain/url?
      type: condition
      version: -1
    taskid: 62cfbf13-0d5f-4aaa-8db7-43920fbb0127
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3030,
          "y": 370
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: AutoFocus V2
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "18"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "100"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Autofocus enabled?
      id: 40a05796-6e85-4c73-8fd2-f893c6326afd
      iscommand: false
      name: Is Autofocus enabled?
      type: condition
      version: -1
    taskid: 40a05796-6e85-4c73-8fd2-f893c6326afd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1230,
          "y": 1060
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: AutoFocus.SessionsResults.dst_ip
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: AutoFocus.SessionsResults.src_ip
          operator: isNotEmpty
      label: "yes"
    id: "21"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "86"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Are there related sessions in Autofocus?
      id: 0dcc38bf-5be7-4253-86c4-0ae975892c33
      iscommand: false
      name: Are there related sessions in Autofocus?
      type: condition
      version: -1
    taskid: 0dcc38bf-5be7-4253-86c4-0ae975892c33
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1230,
          "y": 1760
        }
      }
  "23":
    id: "23"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "153"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 5b6b48aa-f06b-4243-8142-28c3ed2be14d
      iscommand: false
      name: IP hunting done
      type: title
      version: -1
    taskid: 5b6b48aa-f06b-4243-8142-28c3ed2be14d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -940,
          "y": 2630
        }
      }
  "25":
    id: "25"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    scriptarguments:
      action: {}
      endTime: {}
      fields: {}
      from_zone: {}
      hash: {}
      ip:
        complex:
          root: inputs.IPAddresses
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      limit: {}
      port: {}
      query: {}
      rangeValue: {}
      rule: {}
      startTime: {}
      timeRange: {}
      to_zone: {}
      url: {}
    separatecontext: false
    task:
      brand: ""
      description: Search in Cortex threat logs
      id: ce6cf300-07de-403b-8b6e-abd0994f6ce7
      iscommand: true
      name: Search in Cortex threat logs
      script: '|||cortex-query-threat-logs'
      type: regular
      version: -1
    taskid: ce6cf300-07de-403b-8b6e-abd0994f6ce7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -3250,
          "y": 1505
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Threat
          operator: isNotEmpty
      label: "yes"
    id: "26"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "27"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the IP address detected in Cortex threat logs?
      id: e15b4fef-75b8-4c07-8a9f-6eebb8456a57
      iscommand: false
      name: Is IP address detected in Cortex threat logs?
      type: condition
      version: -1
    taskid: e15b4fef-75b8-4c07-8a9f-6eebb8456a57
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -3250,
          "y": 1770
        }
      }
  "27":
    id: "27"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedIPs
      stringify: {}
      value:
        complex:
          accessor: Logging.Threat.Src
          root: Cortex
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Cortex.Logging.Threat.Dst
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 24ccf7f4-0819-4c9a-8547-e633df176265
      iscommand: false
      name: Set detected IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 24ccf7f4-0819-4c9a-8547-e633df176265
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -3370,
          "y": 2025
        }
      }
  "29":
    id: "29"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    scriptarguments:
      append: {}
      key:
        simple: PANWHunting.DetectedUsers
      stringify: {}
      value:
        complex:
          accessor: Logging.Threat.Users
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 7cd13a5d-cad6-4401-84f9-57f519319cd3
      iscommand: false
      name: Set detected users
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 7cd13a5d-cad6-4401-84f9-57f519319cd3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -3370,
          "y": 2420
        }
      }
  "30":
    id: "30"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    scriptarguments:
      action: {}
      endTime: {}
      fields: {}
      from_zone: {}
      ip:
        complex:
          root: inputs.IPAddresses
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      limit: {}
      port: {}
      query: {}
      rangeValue: {}
      rule: {}
      startTime: {}
      timeRange: {}
      to_zone: {}
    separatecontext: false
    task:
      brand: ""
      description: Search in Cortex Traffic logs.
      id: 62d44f32-1a97-4e5a-873c-78c5476d5b32
      iscommand: true
      name: Search in Cortex Traffic logs
      script: '|||cortex-query-traffic-logs'
      type: regular
      version: -1
    taskid: 62d44f32-1a97-4e5a-873c-78c5476d5b32
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2660,
          "y": 1505
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Traffic
          operator: isNotEmpty
      label: "yes"
    id: "31"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "32"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the IP address detected in Cortex traffic logs?
      id: 089cf7cd-0115-4595-8ad1-7fa5376fe8e7
      iscommand: false
      name: Is IP detected in Cortex traffic logs?
      type: condition
      version: -1
    taskid: 089cf7cd-0115-4595-8ad1-7fa5376fe8e7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2660,
          "y": 1760
        }
      }
  "32":
    id: "32"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedIPs
      stringify: {}
      value:
        complex:
          accessor: Logging.Traffic.Src
          root: Cortex
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Cortex.Logging.Traffic.Dst
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 7a6ce110-dad5-4eca-8c56-60e9a2126a2d
      iscommand: false
      name: Set detected IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 7a6ce110-dad5-4eca-8c56-60e9a2126a2d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2660,
          "y": 2140
        }
      }
  "35":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Panorama
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "35"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "141"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is PAN-OS enabled?
      id: 480f1243-d2ba-4576-8848-403a6ff9d5de
      iscommand: false
      name: Is PAN-OS enabled?
      type: condition
      version: -1
    taskid: 480f1243-d2ba-4576-8848-403a6ff9d5de
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -270,
          "y": 1300
        }
      }
  "39":
    id: "39"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    scriptarguments:
      category: {}
      endTime: {}
      fields: {}
      hash:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: toUpperCase
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      host: {}
      ip: {}
      limit: {}
      query: {}
      rangeValue: {}
      startTime: {}
      timeRange: {}
      user: {}
    separatecontext: false
    task:
      brand: ""
      description: Search hash in Cortex (Traps Endpoint).
      id: 00873beb-a0e2-458f-8c6f-e0c8d3a82813
      iscommand: true
      name: Search hash in Cortex (Traps Endpoint)
      script: '|||cortex-query-traps-logs'
      type: regular
      version: -1
    taskid: 00873beb-a0e2-458f-8c6f-e0c8d3a82813
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 1440
        }
      }
  "40":
    id: "40"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "46"
    note: false
    scriptarguments:
      category: {}
      endTime: {}
      fields: {}
      hash:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: toLowerCase
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      host: {}
      ip: {}
      limit: {}
      query: {}
      rangeValue: {}
      startTime: {}
      timeRange: {}
      user: {}
    separatecontext: false
    task:
      brand: ""
      description: Search hash in Cortex (XDR Analytics).
      id: cda12bb9-7842-4bf1-8c00-178c14087336
      iscommand: true
      name: Search hash in Cortex (XDR Analytics)
      script: '|||cortex-query-analytics-logs'
      type: regular
      version: -1
    taskid: cda12bb9-7842-4bf1-8c00-178c14087336
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2050,
          "y": 1475
        }
      }
  "43":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: AutoFocus.SessionsResults.dst_ip
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: AutoFocus.SessionsResults.src_ip
          operator: isNotEmpty
      label: "yes"
    id: "43"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "72"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Are there related sessions in Autofocus?
      id: 19e4e525-4811-453c-8b0e-abd9d7a133bf
      iscommand: false
      name: Are there related sessions in Autofocus?
      type: condition
      version: -1
    taskid: 19e4e525-4811-453c-8b0e-abd9d7a133bf
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 630,
          "y": 1620
        }
      }
  "45":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Traps.MessageData.Files.SHA256
          operator: isNotEmpty
      label: "yes"
    id: "45"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "73"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the hash detected by Cortex Traps?
      id: a9361574-bc64-4e41-8d9b-988cb470833a
      iscommand: false
      name: Is hash detected by Cortex Traps?
      type: condition
      version: -1
    taskid: a9361574-bc64-4e41-8d9b-988cb470833a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 1590
        }
      }
  "46":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Analytics
          operator: isNotEmpty
      label: "yes"
    id: "46"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "50"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the hash detected by Cortex Analytics?
      id: f1211202-657d-4ffa-8f65-ae9fd672ffa7
      iscommand: false
      name: Is hash detected by Cortex Analytics?
      type: condition
      version: -1
    taskid: f1211202-657d-4ffa-8f65-ae9fd672ffa7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2050,
          "y": 1675
        }
      }
  "47":
    id: "47"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    scriptarguments:
      action: {}
      endTime: {}
      fields: {}
      from_zone: {}
      hash:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: toLowerCase
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      ip: {}
      limit: {}
      port: {}
      query: {}
      rangeValue: {}
      rule: {}
      startTime: {}
      timeRange: {}
      to_zone: {}
      url: {}
    separatecontext: false
    task:
      brand: ""
      description: The command searches the Cortex panw.threat table, which is the
        threat logs table for PAN-OS/Panorama.
      id: 1ddc064b-ee10-4dc8-8c9e-dbae661b9464
      iscommand: true
      name: Search for the hash in Cortex Threat logs
      script: '|||cortex-query-threat-logs'
      type: regular
      version: -1
    taskid: 1ddc064b-ee10-4dc8-8c9e-dbae661b9464
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2750,
          "y": 1440
        }
      }
  "48":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Threat
          operator: isNotEmpty
      label: "yes"
    id: "48"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "94"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the hash detected by Cortex Threat logs?
      id: 6eb8c99e-3d4a-474d-84bd-521aa1cfe92f
      iscommand: false
      name: Is hash detected by Cortex Threat logs?
      type: condition
      version: -1
    taskid: 6eb8c99e-3d4a-474d-84bd-521aa1cfe92f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2750,
          "y": 1620
        }
      }
  "50":
    id: "50"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "51"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedInternalHosts
      stringify: {}
      value:
        complex:
          accessor: Logging.Analytics.EndPointHeader.DeviceName
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: a19e4f0b-f076-446a-8852-4fde1f5883f7
      iscommand: false
      name: Set detected Hosts
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: a19e4f0b-f076-446a-8852-4fde1f5883f7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2180,
          "y": 1920
        }
      }
  "51":
    id: "51"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedIPs
      stringify: {}
      value:
        complex:
          accessor: Logging.Analytics.EndPointHeader.AgentIP
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: fb5fdd01-6d91-49e4-8d11-762db8c4061c
      iscommand: false
      name: Set detected IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: fb5fdd01-6d91-49e4-8d11-762db8c4061c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2070,
          "y": 2090
        }
      }
  "55":
    id: "55"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "153"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 84c08f15-90e2-4c85-8d4e-4002ef2509bf
      iscommand: false
      name: Domain/Url hunting done
      type: title
      version: -1
    taskid: 84c08f15-90e2-4c85-8d4e-4002ef2509bf
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3030,
          "y": 2630
        }
      }
  "61":
    id: "61"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "85"
    note: false
    scriptarguments:
      action: {}
      endTime: {}
      fields: {}
      from_zone: {}
      hash: {}
      ip: {}
      limit: {}
      port: {}
      query: {}
      rangeValue: {}
      rule: {}
      startTime: {}
      timeRange: {}
      to_zone: {}
      url:
        complex:
          root: inputs.URLDomain
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    task:
      brand: ""
      description: Search for the domain in Cortex Threat logs.
      id: c3e0e582-1964-4a17-853b-14446a5de8b4
      iscommand: true
      name: Search domain in Cortex Threat logs
      script: '|||cortex-query-threat-logs'
      type: regular
      version: -1
    taskid: c3e0e582-1964-4a17-853b-14446a5de8b4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4660,
          "y": 1665
        }
      }
  "64":
    id: "64"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "65"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedIPs
      stringify: {}
      value:
        complex:
          accessor: Logging.Threat.Src
          root: Cortex
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Cortex.Logging.Threat.Dst
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: d7978bae-0031-4d1e-8948-c4d9b599c046
      iscommand: false
      name: Set detected IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: d7978bae-0031-4d1e-8948-c4d9b599c046
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4690,
          "y": 2290
        }
      }
  "65":
    id: "65"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedUsers
      stringify: {}
      value:
        complex:
          accessor: Logging.Threat.Users
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 19411290-f655-4c7b-8c4d-c0a897d41855
      iscommand: false
      name: Set detected users
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 19411290-f655-4c7b-8c4d-c0a897d41855
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4690,
          "y": 2440
        }
      }
  "66":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Panorama
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "66"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "140"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Panorama enabled?
      id: 8f36d29e-53a8-40a4-819d-20d9c9dfff34
      iscommand: false
      name: Is Panorama enabled?
      type: condition
      version: -1
    taskid: 8f36d29e-53a8-40a4-819d-20d9c9dfff34
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -5110,
          "y": 1080
        }
      }
  "67":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Panorama
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "67"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "142"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Panorama enabled?
      id: 5ca2f308-313c-4513-8290-bb4d50a3fa00
      iscommand: false
      name: Is Panorama enabled?
      type: condition
      version: -1
    taskid: 5ca2f308-313c-4513-8290-bb4d50a3fa00
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3320,
          "y": 1100
        }
      }
  "68":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: AutoFocus V2
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "68"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "99"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Autofocus enabled?
      id: 5c3e164b-98bf-4b51-808b-7595db30a868
      iscommand: false
      name: Is Autofocus enabled?
      type: condition
      version: -1
    taskid: 5c3e164b-98bf-4b51-808b-7595db30a868
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 670,
          "y": 1090
        }
      }
  "69":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: AutoFocus V2
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "69"
    ignoreworker: false
    nexttasks:
      "yes":
      - "101"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Autofocus enabled?
      id: e6b9ad4d-5029-4465-8ac2-912f0d0cfe9c
      iscommand: false
      name: Is Autofocus enabled?
      type: condition
      version: -1
    taskid: e6b9ad4d-5029-4465-8ac2-912f0d0cfe9c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5480,
          "y": 1270
        }
      }
  "70":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Palo Alto Networks Cortex
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "70"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "30"
      - "25"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Cortex Data Lake enabled?
      id: a9d03711-5380-4ced-8b22-7e77d12e7930
      iscommand: false
      name: Is Cortex Data Lake enabled?
      type: condition
      version: -1
    taskid: a9d03711-5380-4ced-8b22-7e77d12e7930
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2770,
          "y": 1060
        }
      }
  "71":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Palo Alto Networks Cortex
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "71"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "89"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Cortex Data Lake enabled?
      id: 2af222a7-a49b-41fc-8636-e7247335bcb2
      iscommand: false
      name: Is Cortex Data Lake enabled?
      type: condition
      version: -1
    taskid: 2af222a7-a49b-41fc-8636-e7247335bcb2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1130,
          "y": 1080
        }
      }
  "72":
    id: "72"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedIPs
      stringify: {}
      value:
        complex:
          accessor: SessionsResults.src_ip}
          root: ${AutoFocus
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: ${AutoFocus.SessionsResults.dst_ip}
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 38938eae-d197-4b34-8ad1-835b8ac3c77f
      iscommand: false
      name: Set detected IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 38938eae-d197-4b34-8ad1-835b8ac3c77f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 540,
          "y": 1930
        }
      }
  "73":
    id: "73"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "74"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedInternalHosts
      stringify: {}
      value:
        complex:
          accessor: Logging.Traps.EndPointHeader.DeviceName
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: ec618697-a948-46c6-8c64-fb364bf367f3
      iscommand: false
      name: Set detected Hosts
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: ec618697-a948-46c6-8c64-fb364bf367f3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 1930
        }
      }
  "74":
    id: "74"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "77"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedIPs
      stringify: {}
      value:
        complex:
          accessor: Logging.Traps.EndPointHeader.AgentIP
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 1bd42968-1121-4f5f-8772-add30af06995
      iscommand: false
      name: Set detected IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 1bd42968-1121-4f5f-8772-add30af06995
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 2090
        }
      }
  "77":
    id: "77"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "138"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedUsers
      stringify: {}
      value:
        complex:
          accessor: Logging.Traps.EndPointHeader.Username
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 8cdf581e-0918-416e-8873-d28e803bcb2a
      iscommand: false
      name: Set detected users
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 8cdf581e-0918-416e-8873-d28e803bcb2a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 2250
        }
      }
  "79":
    id: "79"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "139"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedUsers
      stringify: {}
      value:
        complex:
          accessor: Logging.Analytics.EndPointHeader.Username
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 0a65387a-f7a0-4b60-85ad-ed69486a92fb
      iscommand: false
      name: Set detected users
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 0a65387a-f7a0-4b60-85ad-ed69486a92fb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 2260
        }
      }
  "80":
    id: "80"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedUsers
      stringify: {}
      value:
        complex:
          accessor: Logging.Threat.Users
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 65bccb27-dc26-434d-80a5-54b4a5d2771a
      iscommand: false
      name: Set detected users
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 65bccb27-dc26-434d-80a5-54b4a5d2771a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2750,
          "y": 2440
        }
      }
  "81":
    id: "81"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "97"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedIPs
      stringify: {}
      value:
        complex:
          accessor: Monitor.Logs.SourceAddress
          root: Panorama
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Panorama.Monitor.Logs.DestinationAddress
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: e0fcd5f9-5c06-43c7-86ca-438ff8f7e345
      iscommand: false
      name: Set detected IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: e0fcd5f9-5c06-43c7-86ca-438ff8f7e345
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -610,
          "y": 2155
        }
      }
  "82":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Monitor.Logs.DestinationAddress
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: Panorama.Monitor.Logs.DestinationAddress
                    operator: isNotEmpty
                  - left:
                      iscontext: true
                      value:
                        simple: Panorama.Monitor.Logs.SourceAddress
                    operator: isNotEmpty
                root: Panorama
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: Panorama.Monitor.Logs.DestinationAddress
                  operator: append
                - operator: uniq
          operator: isNotEmpty
      label: "yes"
    id: "82"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "81"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the hash detected by Panorama Wildfire?
      id: 451306d0-c373-4707-80a9-c3be35f72671
      iscommand: false
      name: Is hash detected by Panorama Wildfire?
      type: condition
      version: -1
    taskid: 451306d0-c373-4707-80a9-c3be35f72671
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -270,
          "y": 1910
        }
      }
  "83":
    id: "83"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: detecteddestinationsips
      stringify: {}
      value:
        complex:
          accessor: SessionsResults.dst_ip}
          root: ${AutoFocus
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: ${AutoFocus.SessionsResults.dst_ip}
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: a62eae0e-45a3-4648-88e3-df30ad6b584f
      iscommand: false
      name: Set detected IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: a62eae0e-45a3-4648-88e3-df30ad6b584f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5480,
          "y": 2440
        }
      }
  "84":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: AutoFocus.SessionsResults.dst_ip
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: AutoFocus.SessionsResults.src_ip
          operator: isNotEmpty
      label: "yes"
    id: "84"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "83"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Are there related sessions in Autofocus?
      id: 9c33eecb-7e04-476f-8042-df44b73456f5
      iscommand: false
      name: Are there related sessions in Autofocus?
      type: condition
      version: -1
    taskid: 9c33eecb-7e04-476f-8042-df44b73456f5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5480,
          "y": 1945
        }
      }
  "85":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Cortex.Logging.Threat
          operator: isNotEmpty
      label: "yes"
    id: "85"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "64"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is the domain detected by Cortex Threat logs?
      id: 5fbf9801-689c-4946-814c-39a2e4aa9004
      iscommand: false
      name: Is domain detected by Cortex Threat logs?
      type: condition
      version: -1
    taskid: 5fbf9801-689c-4946-814c-39a2e4aa9004
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4660,
          "y": 1930
        }
      }
  "86":
    id: "86"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedIPs
      stringify: {}
      value:
        complex:
          accessor: SessionsResults.src_ip}
          root: ${AutoFocus
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: f3a9c2a6-45f0-421c-8cb4-71042f5f134a
      iscommand: false
      name: Set detected IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: f3a9c2a6-45f0-421c-8cb4-71042f5f134a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1230,
          "y": 2155
        }
      }
  "89":
    id: "89"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "39"
      - "40"
      - "47"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 702217f7-18d1-43f9-8b9e-1126880fc96c
      iscommand: false
      name: Cortex Hash Searches
      type: title
      version: -1
    taskid: 702217f7-18d1-43f9-8b9e-1126880fc96c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2050,
          "y": 1300
        }
      }
  "90":
    id: "90"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: ecf9effb-d4fe-41e9-87df-21e1d1b41143
      iscommand: false
      name: Cortex IP searches
      type: title
      version: -1
    taskid: ecf9effb-d4fe-41e9-87df-21e1d1b41143
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2770,
          "y": 910
        }
      }
  "92":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: modules.brand
          operator: isEqualString
          right:
            value:
              simple: Palo Alto Networks Cortex
      - - left:
            iscontext: true
            value:
              simple: modules.state
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    id: "92"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "61"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is Cortex Data Lake enabled?
      id: d4693ae8-f34f-4a8c-8045-f42dbcfe7982
      iscommand: false
      name: Is Cortex Data Lake enabled?
      type: condition
      version: -1
    taskid: d4693ae8-f34f-4a8c-8045-f42dbcfe7982
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4660,
          "y": 1270
        }
      }
  "93":
    id: "93"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 99bd8837-39bf-484e-867d-d55a6dce53e0
      iscommand: false
      name: Cortex domain search
      type: title
      version: -1
    taskid: 99bd8837-39bf-484e-867d-d55a6dce53e0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4660,
          "y": 965
        }
      }
  "94":
    id: "94"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "80"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedIPs
      stringify: {}
      value:
        complex:
          accessor: Logging.Threat.Src
          root: Cortex
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Cortex.Logging.Threat.Dst
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 1be60f44-b1d5-4485-81aa-80c50d64d9a3
      iscommand: false
      name: Set detected IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 1be60f44-b1d5-4485-81aa-80c50d64d9a3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2750,
          "y": 2120
        }
      }
  "96":
    id: "96"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 8f850785-2523-4821-8a1c-0e8a9e66a266
      iscommand: false
      name: PAN-OS hash search
      type: title
      version: -1
    taskid: 8f850785-2523-4821-8a1c-0e8a9e66a266
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -270,
          "y": 965
        }
      }
  "97":
    id: "97"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedUsers
      value:
        complex:
          accessor: Monitor.Logs.DestinationUser
          root: Panorama
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Panorama.Monitor.Logs.SourceUser
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Sets a value into the context with the given context key.
      id: b1d13f97-0c40-482b-8062-e556b5ce2ab5
      iscommand: false
      name: Set detected users
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: b1d13f97-0c40-482b-8062-e556b5ce2ab5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -610,
          "y": 2410
        }
      }
  "99":
    id: "99"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    scriptarguments:
      Commodity: {}
      Domain: {}
      Hash:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: toUpperCase
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      IP: {}
      Sample first seen: {}
      Sample last modified: {}
      SampleQuery: {}
      Scope: {}
      Search Type:
        simple: session
      SessionQuery: {}
      Sessions time after: {}
      Sessions time before: {}
      Tags class: {}
      Tags private: {}
      Tags public: {}
      Tags scope: {}
      URL: {}
      Unit 42: {}
      Wildfire Verdict: {}
    separatecontext: true
    task:
      brand: ""
      id: c537fc45-5e32-4933-8e7a-bd8f11b78b77
      iscommand: false
      name: Autofocus Query Samples, Sessions and Tags
      playbookId: Autofocus Query Samples, Sessions and Tags
      type: playbook
      version: -1
    taskid: c537fc45-5e32-4933-8e7a-bd8f11b78b77
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 630,
          "y": 1440
        }
      }
  "100":
    id: "100"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "21"
    note: false
    scriptarguments:
      Commodity: {}
      Domain: {}
      Hash: {}
      IP:
        complex:
          root: inputs.IP addresses
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      Sample first seen: {}
      Sample last modified: {}
      SampleQuery: {}
      Scope: {}
      Search Type:
        simple: session
      SessionQuery: {}
      Sessions time after: {}
      Sessions time before: {}
      Tags class: {}
      Tags private: {}
      Tags public: {}
      Tags scope: {}
      URL: {}
      Unit 42: {}
      Wildfire Verdict: {}
    separatecontext: true
    task:
      brand: ""
      id: ba675c58-ac65-4301-8335-c618d772b2d6
      iscommand: false
      name: Autofocus Query Samples, Sessions and Tags
      playbookId: Autofocus Query Samples, Sessions and Tags
      type: playbook
      version: -1
    taskid: ba675c58-ac65-4301-8335-c618d772b2d6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1230,
          "y": 1545
        }
      }
  "101":
    id: "101"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "84"
    note: false
    scriptarguments:
      Commodity: {}
      Domain: {}
      Hash: {}
      IP: {}
      Sample first seen: {}
      Sample last modified: {}
      SampleQuery: {}
      Scope: {}
      Search Type:
        simple: session
      SessionQuery: {}
      Sessions time after: {}
      Sessions time before: {}
      Tags class: {}
      Tags private: {}
      Tags public: {}
      Tags scope: {}
      URL:
        complex:
          root: inputs.URLDomain
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      Unit 42: {}
      Wildfire Verdict: {}
    separatecontext: true
    task:
      brand: ""
      id: 2eb947e7-5df0-4696-8af5-c69e58297b02
      iscommand: false
      name: Autofocus Query Samples, Sessions and Tags
      playbookId: Autofocus Query Samples, Sessions and Tags
      type: playbook
      version: -1
    taskid: 2eb947e7-5df0-4696-8af5-c69e58297b02
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 5480,
          "y": 1665
        }
      }
  "104":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Monitor.Logs
                root: Panorama
          operator: isNotEmpty
      label: "yes"
    id: "104"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "55"
      "yes":
      - "105"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Are there relevant IP's
      id: 0875678b-51fb-4d3c-8882-37861c5120dd
      iscommand: false
      name: Are there Pan-OS search results?
      type: condition
      version: -1
    taskid: 0875678b-51fb-4d3c-8882-37861c5120dd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3380,
          "y": 1650
        }
      }
  "105":
    id: "105"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "107"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedIPs
      stringify: {}
      value:
        complex:
          accessor: Monitor.Logs.SourceAddress
          root: Panorama
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Panorama.Monitor.Logs.DestinationAddress
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 9a050a15-7a79-41d7-8621-b4cb0af62c54
      iscommand: false
      name: Set detected IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 9a050a15-7a79-41d7-8621-b4cb0af62c54
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3380,
          "y": 2120
        }
      }
  "107":
    id: "107"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedUsers
      stringify: {}
      value:
        complex:
          accessor: Monitor.Logs.DestinationUser
          root: Panorama
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Panorama.Monitor.Logs.SourceUser
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 6180df23-4369-4272-83af-9dc3e8ee493c
      iscommand: false
      name: Set detected users
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 6180df23-4369-4272-83af-9dc3e8ee493c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3380,
          "y": 2345
        }
      }
  "108":
    id: "108"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "68"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: bf03de85-aaf8-41d4-81f7-7f5ca5814ee0
      iscommand: false
      name: Autofocus hash search
      type: title
      version: -1
    taskid: bf03de85-aaf8-41d4-81f7-7f5ca5814ee0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 670,
          "y": 965
        }
      }
  "109":
    id: "109"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "71"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: c35b5e37-813f-472e-8ec8-ee41b091b463
      iscommand: false
      name: Cortex hash search
      type: title
      version: -1
    taskid: c35b5e37-813f-472e-8ec8-ee41b091b463
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1130,
          "y": 965
        }
      }
  "110":
    id: "110"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "69"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 6d241144-3dc7-40c1-8b2d-f01d3bb9c9aa
      iscommand: false
      name: Autofocus domain search
      type: title
      version: -1
    taskid: 6d241144-3dc7-40c1-8b2d-f01d3bb9c9aa
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 5480,
          "y": 965
        }
      }
  "111":
    id: "111"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "67"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 3d88479c-bc21-4821-812a-d9d3027ea6d6
      iscommand: false
      name: PAN-OS domain/url search
      type: title
      version: -1
    taskid: 3d88479c-bc21-4821-812a-d9d3027ea6d6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3320,
          "y": 965
        }
      }
  "112":
    id: "112"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 346194fe-e8bb-4833-8388-75cc8d787238
      iscommand: false
      name: Autofocus IP seach
      type: title
      version: -1
    taskid: 346194fe-e8bb-4833-8388-75cc8d787238
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1230,
          "y": 920
        }
      }
  "113":
    id: "113"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 80c54910-0a39-49c2-882a-0ffa04b79371
      iscommand: false
      name: PAN-OS IP search
      type: title
      version: -1
    taskid: 80c54910-0a39-49c2-882a-0ffa04b79371
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -4750,
          "y": 910
        }
      }
  "129":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Monitor.Logs.DestinationAddress
                root: Panorama
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                accessor: Monitor.Logs.SourceAddress
                root: Panorama
          operator: isNotEmpty
      label: "yes"
    id: "129"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "136"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Are there relevant IP's
      id: 0e1d4ac9-fbf3-4d7c-86ea-c3a38d79b42f
      iscommand: false
      name: Are there relevant IPs?
      type: condition
      version: -1
    taskid: 0e1d4ac9-fbf3-4d7c-86ea-c3a38d79b42f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -5110,
          "y": 1650
        }
      }
  "132":
    id: "132"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedUsers
      stringify: {}
      value:
        complex:
          accessor: Monitor.Logs.DestinationUser
          root: Panorama
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Panorama.Monitor.Logs.SourceUser
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: a8bbe087-509c-4f2c-894a-bacbf6fbc65e
      iscommand: false
      name: Set detected users
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: a8bbe087-509c-4f2c-894a-bacbf6fbc65e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -5110,
          "y": 2430
        }
      }
  "136":
    id: "136"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "132"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedIPs
      stringify: {}
      value:
        complex:
          accessor: Monitor.Logs.SourceAddress
          root: Panorama
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Panorama.Monitor.Logs.DestinationAddress
            operator: append
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 13f7fc7e-1933-456d-8153-eedac64f8e2a
      iscommand: false
      name: Set detected IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 13f7fc7e-1933-456d-8153-eedac64f8e2a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -5110,
          "y": 2015
        }
      }
  "138":
    id: "138"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.TrapsId
      stringify: {}
      value:
        complex:
          accessor: Logging.Traps.AgentID
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: ca1a2593-c11e-4ea2-8d57-7f07d91fb4f8
      iscommand: false
      name: Set Traps id
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: ca1a2593-c11e-4ea2-8d57-7f07d91fb4f8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1120,
          "y": 2420
        }
      }
  "139":
    id: "139"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.TrapsId
      stringify: {}
      value:
        complex:
          accessor: Logging.Analytics.AgentID
          root: Cortex
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: Builtin
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 3a345feb-84f5-462a-8d23-a234a93bc914
      iscommand: false
      name: Set Traps id
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 3a345feb-84f5-462a-8d23-a234a93bc914
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1670,
          "y": 2430
        }
      }
  "140":
    id: "140"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "129"
    note: false
    scriptarguments:
      filedigest: {}
      ip:
        complex:
          root: inputs.IPAddresses
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      url: {}
    separatecontext: true
    task:
      brand: ""
      id: 273e49e6-6789-4a94-8cb3-ae4fc8cd77ba
      iscommand: false
      name: PAN-OS Query Logs For Indicators
      playbookId: PAN-OS Query Logs For Indicators
      type: playbook
      version: -1
    taskid: 273e49e6-6789-4a94-8cb3-ae4fc8cd77ba
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -5110,
          "y": 1425
        }
      }
  "141":
    id: "141"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "82"
    note: false
    scriptarguments:
      filedigest:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      ip: {}
      url: {}
    separatecontext: true
    task:
      brand: ""
      id: 338e1c6d-6211-4b2b-8451-a3866009d5f9
      iscommand: false
      name: PAN-OS Query Logs For Indicators
      playbookId: PAN-OS Query Logs For Indicators
      type: playbook
      version: -1
    taskid: 338e1c6d-6211-4b2b-8451-a3866009d5f9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -270,
          "y": 1745
        }
      }
  "142":
    id: "142"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "104"
    note: false
    scriptarguments:
      filedigest: {}
      ip: {}
      url:
        complex:
          root: inputs.URLDomain
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: true
    task:
      brand: ""
      id: 474cedfa-d0a3-4d70-860e-665c94e1e48b
      iscommand: false
      name: PAN-OS Query Logs For Indicators
      playbookId: PAN-OS Query Logs For Indicators
      type: playbook
      version: -1
    taskid: 474cedfa-d0a3-4d70-860e-665c94e1e48b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3380,
          "y": 1440
        }
      }
  "153":
    id: "153"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "154"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: dfd0fd6e-9eac-45c6-8e1f-2166bf3fa8da
      iscommand: false
      name: Sort internal and external IP addresses
      type: title
      version: -1
    taskid: dfd0fd6e-9eac-45c6-8e1f-2166bf3fa8da
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 890,
          "y": 2860
        }
      }
  "154":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PANWHunting.DetectedIPs
          operator: isNotEmpty
      label: "yes"
    id: "154"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "155"
      "yes":
      - "156"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: 6c2a64aa-076a-4007-8cb8-65cffd4a588a
      iscommand: false
      name: Are there detected IP addresses?
      type: condition
      version: -1
    taskid: 6c2a64aa-076a-4007-8cb8-65cffd4a588a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 890,
          "y": 2990
        }
      }
  "155":
    id: "155"
    ignoreworker: false
    note: false
    separatecontext: false
    task:
      brand: ""
      id: be26c6c7-7a52-4aa5-8b33-bfdcaa92ac5c
      iscommand: false
      name: Done sorting IP addresses
      type: title
      version: -1
    taskid: be26c6c7-7a52-4aa5-8b33-bfdcaa92ac5c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 890,
          "y": 3620
        }
      }
  "156":
    id: "156"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "157"
    note: false
    scriptarguments:
      ip:
        simple: ${PANWHunting.DetectedIPs}
      ipRanges:
        simple: ${inputs.InternalRange}
    separatecontext: false
    task:
      brand: ""
      description: Returns yes if the IP is in one of the ranges provided, returns
        no otherwise.
      id: be19db5f-10f8-40f3-8eea-c7ddb40f3b0a
      iscommand: false
      name: Determine whether the IP address is internal or external
      script: IsIPInRanges
      type: regular
      version: -1
    taskid: be19db5f-10f8-40f3-8eea-c7ddb40f3b0a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 3160
        }
      }
  "157":
    id: "157"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "158"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedInternalIPs
      stringify: {}
      value:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IP.InRange
              operator: isEqualString
              right:
                value:
                  simple: "yes"
          root: IP
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: ""
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 81e6910a-e975-4c4e-8a56-e1e696fe617d
      iscommand: false
      name: Set detected IP addresses as internal
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 81e6910a-e975-4c4e-8a56-e1e696fe617d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 3300
        }
      }
  "158":
    id: "158"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "155"
    note: false
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: PANWHunting.DetectedExternalIPs
      stringify: {}
      value:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IP.InRange
              operator: isEqualString
              right:
                value:
                  simple: "no"
          root: IP
          transformers:
          - operator: uniq
    separatecontext: false
    task:
      brand: ""
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set it context.
      id: 5c171b1f-1edc-4404-831d-f029dcd9e57f
      iscommand: false
      name: Set detected IP addresses as external
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 5c171b1f-1edc-4404-831d-f029dcd9e57f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 3450
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "10_55_#default#": 0.82,
      "26_23_#default#": 0.81,
      "3_4_#default#": 0.82,
      "43_4_#default#": 0.61,
      "45_4_#default#": 0.6,
      "46_4_#default#": 0.52,
      "48_4_#default#": 0.8,
      "5_23_#default#": 0.79,
      "84_55_#default#": 0.81,
      "92_55_#default#": 0.79
    },
    "paper": {
      "dimensions": {
        "height": 3685,
        "width": 10970,
        "x": -5110,
        "y": 0
      }
    }
  }
