playbook-PAN-OS_Query_Logs_For_Indicators.yml
description: 'This playbook queries the following PAN-OS log types: traffic, threat,
  url, data-filtering and wildfire. The playbook accepts inputs such as IP. hash,
  and url.'
id: PAN-OS Query Logs For Indicators
inputs:
- description: 'URL, for example: "safebrowsing.googleapis.com".'
  key: url
  required: false
  value: {}
- description: File hash (for WildFire logs only).
  key: filedigest
  required: false
  value: {}
- description: Source or destination address
  key: ip
  required: false
  value: {}
name: PAN-OS Query Logs For Indicators
outputs:
- contextPath: Panorama.Monitor
  description: Monitor logs object.
  type: string
- contextPath: Panorama.Monitor.Logs.Action
  description: Action taken for the session. Can be "alert", "allow", "deny", "drop",
    "drop-all-packets", "reset-client", "reset-server", "reset-both", or "block-url".
  type: string
- contextPath: Panorama.Monitor.Logs.Application
  description: Application associated with the session.
  type: string
- contextPath: Panorama.Monitor.Logs.Category
  description: For URL subtype, it is the URL category; For WildFire subtype, it is
    the verdict on the file and is either ‘malicious’, ‘phishing’, ‘grayware’, or
    ‘benign’; For other subtypes, the value is ‘any’.
  type: string
- contextPath: Panorama.Monitor.Logs.DeviceName
  description: The hostname of the firewall on which the session was logged.
  type: string
- contextPath: Panorama.Monitor.Logs.DestinationAddress
  description: Original session destination IP address.
  type: string
- contextPath: Panorama.Monitor.Logs.DestinationUser
  description: Username of the user to which the session was destined.
  type: string
- contextPath: Panorama.Monitor.Logs.DestinationCountry
  description: Destination country or internal region for private addresses. Maximum
    length is 32 bytes.
  type: string
- contextPath: Panorama.Monitor.Logs.DestinationPort
  description: Destination port utilized by the session.
  type: string
- contextPath: Panorama.Monitor.Logs.FileDigest
  description: |-
    Only for WildFire subtype; all other types do not use this field.
    The filedigest string shows the binary hash of the file sent to be analyzed by the WildFire service.
  type: string
- contextPath: Panorama.Monitor.Logs.FileName
  description: |-
    File name or file type when the subtype is file.
    File name when the subtype is virus.
    File name when the subtype is wildfire-virus.
    File name when the subtype is wildfire.
  type: string
- contextPath: Panorama.Monitor.Logs.FileType
  description: |-
    Only for the WildFire subtype; all other types do not use this field.
    Specifies the type of file that the firewall forwarded for WildFire analysis.
  type: string
- contextPath: Panorama.Monitor.Logs.FromZone
  description: Zone the session was sourced from.
  type: string
- contextPath: Panorama.Monitor.Logs.URLOrFilename
  description: |-
    The actual URI when the subtype is url.
    File name or file type when the subtype is file.
    File name when the subtype is virus.
    File name when the subtype is wildfire-virus.
    File name when the subtype is wildfire.
    URL or file name when the subtype is vulnerability if applicable.
  type: string
- contextPath: Panorama.Monitor.Logs.NATDestinationIP
  description: If destination NAT performed, the post-NAT destination IP address.
  type: string
- contextPath: Panorama.Monitor.Logs.NATDestinationPort
  description: Post-NAT destination port.
  type: string
- contextPath: Panorama.Monitor.Logs.NATSourceIP
  description: If source NAT performed, the post-NAT source IP address.
  type: string
- contextPath: Panorama.Monitor.Logs.NATSourcePort
  description: Post-NAT source port.
  type: string
- contextPath: Panorama.Monitor.Logs.PCAPid
  description: The packet capture (pcap) ID is a 64 bit unsigned integral denoting
    an ID to correlate threat pcap files with extended pcaps taken as a part of that
    flow. All threat logs will contain either a pcap_id of 0 (no associated pcap),
    or an ID referencing the extended pcap file.
  type: string
- contextPath: Panorama.Monitor.Logs.IPProtocol
  description: IP protocol associated with the session.
  type: string
- contextPath: Panorama.Monitor.Logs.Recipient
  description: |-
    Only for the WildFire subtype; all other types do not use this field.
    Specifies the name of the receiver of an email that WildFire determined to be malicious when analyzing an email link forwarded by the firewall.
  type: string
- contextPath: Panorama.Monitor.Logs.Rule
  description: Name of the rule that the session matched.
  type: string
- contextPath: Panorama.Monitor.Logs.RuleID
  description: ID of the rule that the session matched.
  type: string
- contextPath: Panorama.Monitor.Logs.ReceiveTime
  description: Time the log was received at the management plane.
  type: string
- contextPath: Panorama.Monitor.Logs.Sender
  description: |-
    Only for the WildFire subtype; all other types do not use this field.
    Specifies the name of the sender of an email that WildFire determined to be malicious when analyzing an email link forwarded by the firewall.
  type: string
- contextPath: Panorama.Monitor.Logs.SessionID
  description: An internal numerical identifier applied to each session.
  type: string
- contextPath: Panorama.Monitor.Logs.DeviceSN
  description: The serial number of the firewall on which the session was logged.
  type: string
- contextPath: Panorama.Monitor.Logs.Severity
  description: Severity associated with the threat. Can be "informational", "low",
    "medium", "high", or "critical".
  type: string
- contextPath: Panorama.Monitor.Logs.SourceAddress
  description: Original session source IP address.
  type: string
- contextPath: Panorama.Monitor.Logs.SourceCountry
  description: Source country or internal region for private addresses. Maximum length
    is 32 bytes.
  type: string
- contextPath: Panorama.Monitor.Logs.SourceUser
  description: Username of the user who initiated the session.
  type: string
- contextPath: Panorama.Monitor.Logs.SourcePort
  description: Source port utilized by the session.
  type: string
- contextPath: Panorama.Monitor.Logs.Name
  description: Palo Alto Networks identifier for the threat. It is a description string
    followed by a 64-bit numerical identifier.
  type: string
- contextPath: Panorama.Monitor.Logs.ID
  description: Palo Alto Networks ID for the threat.
  type: string
- contextPath: Panorama.Monitor.Logs.ToZone
  description: The zone to which the session was destined.
  type: string
- contextPath: Panorama.Monitor.Logs.TimeGenerated
  description: Time that the log was generated on the dataplane.
  type: string
- contextPath: Panorama.Monitor.Logs.URLCategoryList
  description: A list of the URL filtering categories that the firewall used to enforce
    policy.
  type: string
- contextPath: Panorama.Monitor.JobID
  description: Job ID of the logs query.
- contextPath: Panorama.Monitor.Status
  description: Status of the logs query.
  type: string
- contextPath: Panorama.Monitor.Message
  description: Message  of the logs query.
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Start
      id: 4c6e6664-2b4a-436c-83fa-3e379c606404
      iscommand: false
      name: ""
      version: -1
    taskid: 4c6e6664-2b4a-436c-83fa-3e379c606404
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 40,
          "y": -260
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Panorama
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    id: "1"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "11"
      - "20"
      - "24"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Checks if there is a valid instance of the Palo Alto Networks PAN-OS.
        integration enabled.
      id: 46712325-47fc-42d4-8934-37612d712661
      iscommand: false
      name: Is Palo Alto Networks PAN-OS enabled?
      type: condition
      version: -1
    taskid: 46712325-47fc-42d4-8934-37612d712661
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 40,
          "y": -60
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    scriptarguments:
      action: {}
      addr-dst: {}
      addr-src: {}
      filedigest: {}
      ip:
        complex:
          root: inputs.ip
      log-type:
        simple: traffic
      number_of_logs: {}
      port-dst: {}
      query: {}
      rule: {}
      time-generated: {}
      url: {}
      zone-dst: {}
      zone-src: {}
    separatecontext: false
    task:
      brand: ""
      description: Query logs.
      id: f707846a-7396-42fc-8573-a1005da8c985
      iscommand: true
      name: Panorama query traffic logs
      script: '|||panorama-query-logs'
      type: regular
      version: -1
    taskid: f707846a-7396-42fc-8573-a1005da8c985
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 420,
          "y": 610
        }
      }
  "3":
    id: "3"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      wait: 1
    nexttasks:
      '#none#':
      - "6"
    note: false
    scriptarguments:
      AdditionalPollingCommandArgNames: {}
      AdditionalPollingCommandArgValues: {}
      Ids:
        complex:
          accessor: Monitor.JobID
          root: Panorama
      Interval:
        simple: "1"
      PollingCommandArgName:
        simple: job_id
      PollingCommandName:
        simple: panorama-check-logs-status
      Timeout:
        simple: "10"
      dt:
        simple: Panorama.Monitor(val.Status != 'Completed' && val.Status != 'Failed').JobID
    separatecontext: true
    task:
      brand: ""
      description: |-
        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.
        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      id: 05af0c11-4d31-4d09-8fb7-67f85eaa3bad
      iscommand: false
      name: GenericPolling
      playbookId: GenericPolling
      type: playbook
      version: -1
    taskid: 05af0c11-4d31-4d09-8fb7-67f85eaa3bad
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -700,
          "y": 1310
        }
      }
  "4":
    id: "4"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    scriptarguments:
      ignore_auto_extract: {}
      job_id:
        complex:
          accessor: Monitor.JobID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Panorama.Monitor.Status
              operator: isEqualString
              right:
                value:
                  simple: Completed
          root: Panorama
    separatecontext: false
    task:
      brand: ""
      description: Retrieves log query data by job ID.
      id: d50a296b-4183-4856-843c-b4f1f8f18cc7
      iscommand: true
      name: Panorama Get Logs
      script: '|||panorama-get-logs'
      type: regular
      version: -1
    taskid: d50a296b-4183-4856-843c-b4f1f8f18cc7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -700,
          "y": 1620
        }
      }
  "5":
    id: "5"
    ignoreworker: false
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: d69222cb-a986-4d52-8f73-f020b67ef103
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: d69222cb-a986-4d52-8f73-f020b67ef103
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1790
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    scriptarguments:
      job_id:
        complex:
          accessor: Monitor.JobID
          root: Panorama
    separatecontext: false
    task:
      brand: ""
      description: Checks the status of a log query.
      id: 00f77558-b083-4b8c-8197-323be797a56e
      iscommand: true
      name: Panorama Check Log Status
      script: '|||panorama-check-logs-status'
      type: regular
      version: -1
    taskid: 00f77558-b083-4b8c-8197-323be797a56e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -700,
          "y": 1470
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Monitor.JobID
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: Panorama.Monitor.Status
                    operator: isEqualString
                    right:
                      value:
                        simple: Pending
                root: Panorama
          operator: isExists
      label: "yes"
    id: "7"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "3"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is there a JobID for a query?
      id: 24f322d7-af0e-4c7a-8788-ddd02de8cc13
      iscommand: false
      name: Is there a JobID for a query?
      type: condition
      version: -1
    taskid: 24f322d7-af0e-4c7a-8788-ddd02de8cc13
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -190,
          "y": 1100
        }
      }
  "9":
    id: "9"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    scriptarguments:
      action: {}
      addr-dst: {}
      addr-src: {}
      filedigest: {}
      ip:
        complex:
          root: inputs.ip
      log-type:
        simple: threat
      number_of_logs: {}
      port-dst: {}
      query: {}
      rule: {}
      time-generated: {}
      url: {}
      zone-dst: {}
      zone-src: {}
    separatecontext: false
    task:
      brand: ""
      description: Query logs
      id: 80d6c8b3-ebe9-4fc9-8fcf-d070a430a6a8
      iscommand: true
      name: Panorama query threat logs
      script: '|||panorama-query-logs'
      type: regular
      version: -1
    taskid: 80d6c8b3-ebe9-4fc9-8fcf-d070a430a6a8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 830,
          "y": 610
        }
      }
  "11":
    id: "11"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: f0295d6d-ca7b-4da7-84e2-6a4534187c98
      iscommand: false
      name: IP search
      type: title
      version: -1
    taskid: f0295d6d-ca7b-4da7-84e2-6a4534187c98
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 350,
          "y": 110
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ip
          operator: isNotEmpty
      label: "yes"
    id: "12"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "2"
      - "9"
      - "14"
      - "17"
      - "18"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is there an IP?
      id: 1a8ee268-d796-4441-87f3-6d39648ab2f1
      iscommand: false
      name: Is there an IP address?
      type: condition
      version: -1
    taskid: 1a8ee268-d796-4441-87f3-6d39648ab2f1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 350,
          "y": 240
        }
      }
  "14":
    id: "14"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    scriptarguments:
      action: {}
      addr-dst: {}
      addr-src: {}
      filedigest: {}
      ip:
        complex:
          root: inputs.ip
      log-type:
        simple: wildfire
      number_of_logs: {}
      port-dst: {}
      query: {}
      rule: {}
      time-generated: {}
      url: {}
      zone-dst: {}
      zone-src: {}
    separatecontext: false
    task:
      brand: ""
      description: Query logs.
      id: bb903d3a-ba81-4125-8546-af1c3015dd2f
      iscommand: true
      name: Panorama query wildfire logs
      script: '|||panorama-query-logs'
      type: regular
      version: -1
    taskid: bb903d3a-ba81-4125-8546-af1c3015dd2f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1240,
          "y": 610
        }
      }
  "17":
    id: "17"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    scriptarguments:
      action: {}
      addr-dst: {}
      addr-src: {}
      filedigest: {}
      ip:
        complex:
          root: inputs.ip
      log-type:
        simple: data
      number_of_logs: {}
      port-dst: {}
      query: {}
      rule: {}
      time-generated: {}
      url: {}
      zone-dst: {}
      zone-src: {}
    separatecontext: false
    task:
      brand: ""
      description: Query logs.
      id: 19eb4b7b-ee52-469b-812b-ff3b80755677
      iscommand: true
      name: Panorama query data logs
      script: '|||panorama-query-logs'
      type: regular
      version: -1
    taskid: 19eb4b7b-ee52-469b-812b-ff3b80755677
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1650,
          "y": 610
        }
      }
  "18":
    id: "18"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    scriptarguments:
      action: {}
      addr-dst: {}
      addr-src: {}
      filedigest: {}
      ip:
        complex:
          root: inputs.ip
      log-type:
        simple: url
      number_of_logs: {}
      port-dst: {}
      query: {}
      rule: {}
      time-generated: {}
      url: {}
      zone-dst: {}
      zone-src: {}
    separatecontext: false
    task:
      brand: ""
      description: Query logs
      id: 1f844f68-5a2f-4985-8462-33e9b7056665
      iscommand: true
      name: Panorama query url logs
      script: '|||panorama-query-logs'
      type: regular
      version: -1
    taskid: 1f844f68-5a2f-4985-8462-33e9b7056665
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2050,
          "y": 610
        }
      }
  "20":
    id: "20"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: cee28744-b9b4-498c-86d4-080aae03e0d7
      iscommand: false
      name: Hash Search
      type: title
      version: -1
    taskid: cee28744-b9b4-498c-86d4-080aae03e0d7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -290,
          "y": 110
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.filedigest
          operator: isNotEmpty
      label: "yes"
    id: "21"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "23"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is there a hash?
      id: 3e4145cb-b2cb-4055-841f-cd0f9aebfeda
      iscommand: false
      name: Is there a hash?
      type: condition
      version: -1
    taskid: 3e4145cb-b2cb-4055-841f-cd0f9aebfeda
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -290,
          "y": 240
        }
      }
  "23":
    id: "23"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    scriptarguments:
      action: {}
      addr-dst: {}
      addr-src: {}
      filedigest:
        complex:
          root: inputs.filedigest
      ip: {}
      log-type:
        simple: wildfire
      number_of_logs: {}
      port-dst: {}
      query: {}
      rule: {}
      time-generated: {}
      url: {}
      zone-dst: {}
      zone-src: {}
    separatecontext: false
    task:
      brand: ""
      description: Query logs
      id: b2f18cd5-7555-4983-888a-b596ca9787ff
      iscommand: true
      name: Panorama query wildfire logs
      script: '|||panorama-query-logs'
      type: regular
      version: -1
    taskid: b2f18cd5-7555-4983-888a-b596ca9787ff
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -190,
          "y": 860
        }
      }
  "24":
    id: "24"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Header
      id: d931076b-f81a-4714-8d4a-d6dea69249ff
      iscommand: false
      name: Url search
      type: title
      version: -1
    taskid: d931076b-f81a-4714-8d4a-d6dea69249ff
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1270,
          "y": 110
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.url
          operator: isNotEmpty
      label: "yes"
    id: "25"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "30"
      - "32"
      - "31"
    note: false
    separatecontext: false
    task:
      brand: ""
      description: Is there a url?
      id: b9be6fea-a396-4e1c-8fdd-adc32ad3c1ca
      iscommand: false
      name: Is there a url?
      type: condition
      version: -1
    taskid: b9be6fea-a396-4e1c-8fdd-adc32ad3c1ca
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1270,
          "y": 240
        }
      }
  "30":
    id: "30"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    scriptarguments:
      action: {}
      addr-dst: {}
      addr-src: {}
      filedigest: {}
      ip: {}
      log-type:
        simple: threat
      number_of_logs: {}
      port-dst: {}
      query: {}
      rule: {}
      time-generated: {}
      url:
        complex:
          root: inputs.url
      zone-dst: {}
      zone-src: {}
    separatecontext: false
    task:
      brand: ""
      description: Query logs
      id: f2f84fe6-e723-4196-8840-7d36965e817b
      iscommand: true
      name: Panorama query threat logs
      script: '|||panorama-query-logs'
      type: regular
      version: -1
    taskid: f2f84fe6-e723-4196-8840-7d36965e817b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2100,
          "y": 610
        }
      }
  "31":
    id: "31"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    scriptarguments:
      action: {}
      addr-dst: {}
      addr-src: {}
      filedigest: {}
      ip: {}
      log-type:
        simple: data
      number_of_logs: {}
      port-dst: {}
      query: {}
      rule: {}
      time-generated: {}
      url:
        complex:
          root: inputs.url
      zone-dst: {}
      zone-src: {}
    separatecontext: false
    task:
      brand: ""
      description: Query logs.
      id: aaa97f96-f2bd-4f0e-8b11-b650d33fa2b0
      iscommand: true
      name: Panorama query data logs
      script: '|||panorama-query-logs'
      type: regular
      version: -1
    taskid: aaa97f96-f2bd-4f0e-8b11-b650d33fa2b0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1270,
          "y": 610
        }
      }
  "32":
    id: "32"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    scriptarguments:
      action: {}
      addr-dst: {}
      addr-src: {}
      filedigest: {}
      ip: {}
      log-type:
        simple: url
      number_of_logs: {}
      port-dst: {}
      query: {}
      rule: {}
      time-generated: {}
      url:
        complex:
          root: inputs.url
      zone-dst: {}
      zone-src: {}
    separatecontext: false
    task:
      brand: ""
      description: Query logs.
      id: c3e6d2d2-e461-454d-829e-e61808fee61e
      iscommand: true
      name: Panorama query url logs
      script: '|||panorama-query-logs'
      type: regular
      version: -1
    taskid: c3e6d2d2-e461-454d-829e-e61808fee61e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1680,
          "y": 610
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_5_#default#": 0.9
    },
    "paper": {
      "dimensions": {
        "height": 2115,
        "width": 4530,
        "x": -2100,
        "y": -260
      }
    }
  }
