playbook-Prisma_Cloud_Compute_-_Vulnerability_Alert.yml
description: Default playbook for parsing Prisma Cloud Compute vulnerability alerts
id: Prisma Cloud Compute - Vulnerability Alert
inputs: []
name: Prisma Cloud Compute - Vulnerability Alert
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    separatecontext: false
    task:
      brand: ""
      id: db3ae054-8893-4760-871f-9e39c7439d6c
      iscommand: false
      name: ""
      version: -1
    taskid: db3ae054-8893-4760-871f-9e39c7439d6c
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    id: "1"
    ignoreworker: false
    note: false
    scriptarguments:
      alert_raw_json:
        simple: ${incident.prismacloudcomputerawalertjson}
    separatecontext: false
    task:
      brand: ""
      description: Parse raw vulnerabilities JSON data
      id: ce59b855-32be-4461-8ba3-160ffed77a2b
      iscommand: false
      name: Parse Vulnerability Alert
      script: PrismaCloudComputeParseVulnerabilityAlert
      type: regular
      version: -1
    taskid: ce59b855-32be-4461-8ba3-160ffed77a2b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 230
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 275,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
